.metro {
    box-shadow: 0 0 40px 0 rgba(0,0,0,.11);
    margin: 30px 0;
    width: 100%;
    padding: 30px;
}

.home {
    h1 {
        font-size: 24px;
        text-align: center;
        width: 100%;
        margin-bottom: 30px;
    }
    h2 {
        font-size: 20px;
        text-align: center;
        width: 100%;
        margin-top: 30px;
    }
    h3 {
        font-size: 16px;
        text-align: center;
        width: 100%;
        margin-top: 15px;
    }
    &-banner {
        width: calc(100vw - 5px);
        position: relative;
        margin-left: -50vw;
        height: auto;
        left: 50%;
        .carousel-indicators {
            justify-content: flex-end;
            margin-right: 5%;
            li {
                cursor: pointer;
            }
        }
        .gallery {
            display: block;
            width: 100%;
            height: auto;
            &-item {
                height: 500px;
                &-image {
                    background: var(--background);
                    height: 100%;
                }
                &-panel {
                    background: rgba(34, 138, 148, 0.7);
                    color: #fff;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    padding: 2% 5%;
                    height: 12vw;
                    display: flex;
                    &__title {
                        font-size: 2vw;
                        font-weight: 700;
                        margin-right: 3%;
                        position: relative;
                        text-align: right;
                        overflow: hidden;
                        white-space: normal;
                        text-overflow: ellipsis;
                        max-width: 35%;
                    }
                    &__text {
                        font-size: 1.5vw;
                        position: relative;
                        padding-left: 3%;
                        text-align: left;
                        overflow: hidden;
                        white-space: normal;
                        text-overflow: ellipsis;
                        border-left: 1px solid #fff;
                        &-center {
                            display: flex;
                            height: 100%;
                            align-items: center;
                            justify-content: center;
                        }
                    }
                }
            }
        }
    }
    &-cars {
        box-shadow: 0 0 40px 0 rgba(0, 0, 0, .11);
        margin: 30px 0;
        width: 100%;
    }
    &-products {
        box-shadow: 0 0 40px 0 rgba(0,0,0,.11);
        margin: 30px 0;
        width: 100%;
        padding: 30px;
    }
    &-catalog {
        box-shadow: 0 0 40px 0 rgba(0,0,0,.11);
        margin: 30px 0;
        width: 100%;
    }
    &-seo {
        width: 100%;
        .form-toggle {
            label {
                cursor: pointer;
                transition: .5s ease-in-out;
                text-align: center;
                display: block;
                width: 300px;
                margin: 0 auto;
                color: #fff;
                background-color: #17a2b8;
                border: 1px solid #17a2b8;
                &:hover {
                    color: #fff;
                    background-color: #138496;
                    border-color: #117a8b;
                }
                a {
                    display: block;
                    padding: 10px;
                }
            }
            input[type="checkbox"] {
                display: none;
                & ~ div {
                    display: none;
                }
                &:checked {
                    & ~ div {
                        display: block;
                    }
                }
            }
        }
    }
    &-rec {
        &-text {
            background: #fff;
            margin: 30px 0;
            list-style: none;
            max-height: 120px;
            overflow: hidden;
            position: relative;
            h2, h3 {
                display: inline;
                font-size: 15px;
            }
            li {
                list-style: none;
                font-size: 15px;
                word-wrap: break-word;
                overflow-wrap: break-word;
                text-align: justify;
                text-indent: 30px;
            }
            h2, u {
                font-weight: 700;
            }
            a {
                font-weight: 700;
                color: #39c;
                &:hover {
                    text-decoration: underline;
                }
            }
            &:after {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 70px;
                background: linear-gradient(180deg,rgba(243,243,243,0) 0,#fff 100%);
            }
            &.full {
                max-height: unset;
                &:after {
                    content: unset;
                }
            }
        }
        &-button {
            a {
                cursor: pointer;
                display: block;
                float: right;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

/*==== PHONE ====*/
@media (max-width: 768px) {
    .home {
        &-banner {
            width: 100%;
            margin: 0;
            left: 0;
            .carousel-indicators {
                bottom: 90%;
            }
            .gallery {
                &-item {
                    display: block;
                    height: 500px;
                    width: 100%;
                    &-image {
                        background-position: center;
                    }
                    &-panel {
                        display: block;
                        padding: 10px 20px;
                        height: auto;
                        &__title {
                            font-size: 24px;
                            margin-bottom: 3%;
                            margin-left: 0;
                            width: 100%;
                            max-width: 100%;
                            text-align: left;
                        }
                        &__text {
                            font-size: 18px;
                            padding-left: 0;
                            padding-top: 3%;
                            max-height: 100px;
                            border-left: none;
                            border-top: 1px solid #fff;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

/*==== /PHONE ====*/

/*==== PAD ====*/
@media (min-width: 768px) and (max-width: 992px) {
    .home {
        &-banner {
            width: 100%;
            margin: 0;
            left: 0;
            .carousel-indicators {
                bottom: 90%;
            }
            .gallery {
                &-item {
                    display: block;
                    height: 500px;
                    width: 100%;
                    &-image {
                        background-position: center;
                    }
                    &-panel {
                        display: block;
                        padding: 10px 20px;
                        height: auto;
                        &__title {
                            font-size: 24px;
                            margin-bottom: 3%;
                            margin-right: 0;
                            width: 100%;
                            max-width: 100%;
                            text-align: left;
                        }
                        &__text {
                            font-size: 18px;
                            padding-left: 0;
                            padding-top: 3%;
                            max-height: 100px;
                            border-left: none;
                            border-top: 1px solid #fff;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

/*==== /PAD ====*/

