@import "variables";

body,
html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.5px;
}

/*==== PAGE 404 ====*/
.page-404 {
    h1 {
        color: $site_dark_primary;
        font-size: 2em;
        font-weight: bold;
    }
    h2 {
        color: $site_dark_secondary;
        font-size: 1.5em;
    }
    ol {
        padding-left: 1em;
    }
    ol > li {
        margin-top: 1em;
        font-weight: bold;
    }
    ul > li {
        font-weight: 100;
    }
    ul > li > a {
        font-weight: bold;
    }
}

.nfound {
    margin: 5em 0;
    h2 {
        color: $site_dark_primary;
        text-transform: uppercase;
        font-size: 22px;
        font-weight: bold;
    }
    img {
        width: 150px;
        margin: 0 auto;
        display: block;
    }
}

/*==== /PAGE 404 ====*/

/*==== SEO BLOCK ====*/
.seo-text {
    font-size: 14px;
    line-height: 21px;
    color: $site_dark_primary;
    max-height: 120px;
    overflow: hidden;
    &.full {
        max-height: unset;
        & ~ button {
            display: none;
        }
    }
    h2 {
        font-size: 1.5em;
        font-weight: 400;
        margin: 20px 0 10px;
        color: $site_dark_primary;
        line-height: 21px;
    }
    ul {
        padding-left: 2em;
    }
}

.seo-block {
    position: relative;
    .seo-text:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 30px;
        background: linear-gradient(180deg,hsla(0,0%,95.3%,0) 0,#eeeeee 80%);
    }
    button {
        margin-top: 1em;
        text-transform: uppercase;
        float: right;
        font-size: 14px;
        color: $site_dark_primary;
        text-align: right;
        background: transparent;
        border: none;
        text-decoration: underline;
        cursor: pointer;
    }
}

/*==== /SEO BLOCK ====*/

/*==== SPANs ====*/
.medium-text {
    font-size: 0.9em;
    color: #8c8c8c;
}

.span-grey {
    color: $site_dark_primary;
    font-weight: bold;
}

.span-dark {
    font-weight: 700;
    color: $site_dark_primary;
    font-size: 12px;
    float: left;
    &-red {
        color: $site_main_primary;
        font-weight: bold;
    }
}

.span-red {
    color: $site_main_danger!important;
    font-weight: 700!important;
}

.span-green {
    color: #7cc576!important;
    font-weight: 700!important;
}

.span-outline {
    color: $site_main_danger!important;
    text-decoration: line-through;
}

/*==== /SPANs ====*/

/*==== BUTTONs ====*/
.btn-danger {
    background: $site_main_danger;
    border-color: $site_main_danger;
}

.btn-main {
    float: right;
    width: auto!important;
    color: gray!important;
    text-transform: uppercase;
    background: $white;
    padding: 4px 30px;
    box-shadow: 0 0 2px 0 rgba(51, 51, 51, .05), 0 1px 4px 0 rgba(51, 51, 51, .15);
    border: 1px solid #ccc;
    &:hover {
        color: white!important;
        background-color:$site_dark_primary;
    }
}

.btn-circle {
    width: 25px;
    height: 25px;
    padding: 0;
    border-radius: 15px;
    text-align: center;
    font-size: 14px;
    line-height: 1.5;
    background: $site_info_secondary;
    color: $white;
    border-color: $white;
    position: relative;
    top: -2.5px;
    &:hover {
        background: $white;
        color: $site_info_secondary;
        border-color: $site_info_secondary;
    }
}

/*==== /BUTTONs ====*/

.bold {
    font-weight: 700;
}

.show {
    display: block;
}

.none {
    display: none!important;
}

.dblock {
    display: block!important;
}

.dvisibility {
    visibility: visible;
}

.dvisibility0 {
    visibility: hidden;
    height: 0;
}

.dflex {
    display: flex;
}

.pointer {
    cursor: pointer;
}

.font10 {
    font-size: 12px;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.mar0 {
    margin: 0;
}

.pad0 {
    padding: 0;
}

.padl0 {
    padding-left: 0;
}

.padr0 {
    padding-right: 0;
}

.pad10 {
    padding: 10px 0;
}

.padr15 {
    padding-right: 15px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.h0 {
    height: 0!important;
}

.wauto {
    width: auto!important
}

.wdt100 {
    width: 100%;
}

.hgt100 {
    height: 100%;
}

.img-center {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.accept {
    color: $site_info_primary;
}

.non_accept {
    color: $site_main_secondary;
}

.bg-danger {
    background: $site_main_primary!important;
}

.bg-success {
    background: #8fbc8f!important;
}

.bg-warning {
    background: #ffffe0!important;
}

.required_input {
    border: 1px solid $site_main_secondary;
    box-shadow: 0 0 5px $site_main_secondary;
}

.word-wrap {
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.table-bordered {
    border: 1px solid $black;
    border-top: none;
}

.swipe {
    float: right;
    margin-left: 5px;
    font-size: 15px;
}

.label:active {
    background: $white;
    color: $site_main_secondary;
}

.span-title {
    font-size: 25px;
    padding-right: 15px;
    display: inline;
    color: #4b4e4f;
}

.inline-list {
    list-style: none;
}

.detail-red {
    font-weight: 700!important;
    color: red!important;
    background: #c0d2ec;
}

.dnone {
    display: none;
    opacity: 0;
}

/*==== MAIN CONTENT =====*/
.content {
    background: $white;
    padding: 2%;
    width: 100%;
    box-shadow: 0 1px 4px #ccc;
}

.content-auto {
    background: $white;
    padding: 2%;
    width: 100%;
    box-shadow: 0 1px 10px #ccc;
    h1 {
        padding-left: 15px;
        font-weight: 600;
    }
    .title-b {
        margin-bottom: 2em;
        color: $site_info_primary;
        display: block;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
    }
}

.content-min {
    background: $white;
    padding: 1em;
    width: 100%;
    box-shadow: 0 1px 10px #ccc;
    text-align: justify;
}

.breadcrumbs {
    background: $white;
    width: 100%;
    box-shadow: 0 1px 4px #ccc;
    min-height: 0;
    margin-bottom: 15px;
    padding: 10px 15px;
    word-wrap: break-word;
    overflow: auto;
    white-space: nowrap;
    a {
        color: $black;
    }
}

/* ==== HEADER ==== */
header {
    width: 100%;
    color: $site_dark_secondary;
}

.header-top {
    background: $site_dark_primary;
    color: $white;
    padding: 0;
    border-bottom: 5px solid $site_dark_secondary;
    a {
        color: $white;
        &:hover {
            color: $black;
        }
    }
    .contacts {
        padding: 0;
        font-size: 13px;
        a:hover {
            color: #ccc;
        }
        span {
            padding-top: 1%;
            font-size: 10pt;
        }
    }
    .authorization {
        .dropdown-toggle {
            background: #606874;
            border: unset;
            color: #fff;
            font-size: 14px;
        }
        ul {
            margin: 0;
            text-align: right;
            li {
                display: inline;
                margin-right: 0;
                padding: 0 5px;
                font-size: 13px;
            }
            a {
                &:hover {
                    color: #ccc;
                    text-decoration: none;
                    -webkit-transition: all .2s ease;
                    -moz-transition: all .2s ease;
                    -o-transition: all .2s ease;
                    transition: all .2s ease;
                }
            }
        }
    }
}

.header-main {
    margin-bottom: 0;
    padding: 1% 0;
    position: relative;
    background: 75% no-repeat $white;
    background-size: 32%;
    .logotype-main {
        height: auto;
        position: relative;
        img {
            width: 100%;
        }
    }
    .search {
        input {
            border-right: none;
            margin-right: -41px;
            border-radius: .25rem!important;
            box-shadow: none;
        }
        button {
            border: 1px solid #ced4da;
        }
        &-nav {
            list-style: none;
            margin: 0;
            &__item {
                background: $white;
                a, a:not([href]):not([tabindex]) {
                    display: block;
                    color: #000;
                    cursor: pointer;
                    position: relative;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    padding: 15px 0;
                    &:hover {
                        color: #ccc;
                    }
                }
                &:hover {
                    background: #f7f7f7;
                }
            }
        }
    }
    .icons {
        &-nav {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            &-item {
                display: block;
                width: 30%;
                padding-left: 45px;
                cursor: pointer;
                text-decoration: none;
                transition: all .3s linear;
                &:hover {
                    & .icons-nav-item__title {
                        color: #228B94;
                    }
                    & .icons-nav-item__descr {
                        color: #228B94;
                    }
                    &.icons-nav-item-garage {
                        background: url(/images/icons/header/hover/garage.png) left no-repeat;
                        background-size: 30px;
                    }
                    &.icons-nav-item-profile {
                        background: url(/images/icons/header/hover/profile.png) left no-repeat;
                        background-size: 30px;
                    }
                    &.icons-nav-item-basket {
                        background: url(/images/icons/header/hover/basket.png) left no-repeat;
                        background-size: 30px;
                    }
                }
                &-row {
                    display: flex;
                    height: 25px;
                }
                &-garage {
                    background: url(/images/icons/header/garage.png) left no-repeat;
                    background-size: 30px;
                }
                &-profile {
                    background: url(/images/icons/header/profile.png) left no-repeat;
                    background-size: 30px;
                }
                &-basket {
                    background: url(/images/icons/header/basket.png) left no-repeat;
                    background-size: 30px;
                }
                &__title {
                    color: #606975;
                    font-size: 14px;
                    width: calc(100% - 25px);
                }
                &__descr {
                    color: #606975;
                    font-size: 14px;
                    text-transform: uppercase;
                    width: 100%;
                }
                &__status {
                    font-size: 12px;
                    text-transform: uppercase;
                    background: #f44336;
                    border: 1px solid #f44336;
                    border-radius: 30px;
                    color: #fff;
                    width: 20px;
                    height: 20px;
                    line-height: 20px;
                    text-align: center;
                }
            }
        }
    }
}

.garage-drop {
    z-index: 1000!important;
    width: 400%!important;
    left: -250%;
    top: 300%!important;
    background: $white;
    overflow: unset!important;
    &-block {
        background: $white;
        &__list {
            padding: 30px;
            .garage-row {
                padding-bottom: 15px;
                &__text {
                    span {
                        color: $site_dark_primary;
                        padding: 0;
                    }
                }
                &__buttons {
                    text-align: right;
                    button {
                        width: auto;
                        .fa {
                            float: unset;
                            font-size: 16px;
                        }
                    }
                }
            }
            i {
                float: unset;
                width: auto;
                font-size: 13px;
            }
            span {
                padding: 0;
            }
            button {
                width: 50px;
            }
        }
        &__select {
            border-left: 1px solid #f1f1f1;
            padding: 30px;
            &-title {
                color: #000;
                display: block;
            }
            &-text {
                color: #989898;
                font-size: 11px;
            }
            &-image {
                width: 100%;
            }
        }
    }
}

.header-phone {
    display: none;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    ul {
        margin: 0;
        padding-left: 0;
        list-style: none;
        li {
            display: inline-block;
            padding-left: 8px;
            &.logotype-min {
                display: inline;
                height: auto;
                position: relative;
                img {
                    width: 100%;
                }
                a {
                    width: 80px;
                }
            }
            a, a:not([href]):not([tabindex]), button {
                background: $white;
                color: #292929;
                width: 40px;
                border: 1px solid white;
            }
        }
        .basket_status {
            display: inline-block;
            width: 0;
        }
    }
}

/* ==== /HEADER ==== */

/*==== SPECIAL OFFERS ===*/
.special-offers {
    &-header {
        padding: 15px;
        min-height: 0;
        margin-bottom: 1em;
        h2 {
            text-transform: uppercase;
            font-weight: 700;
            font-size: 1.2em;
            padding-top: .3em;
        }
        h3 {
            text-transform: uppercase;
            font-weight: 700;
            font-size: 1em;
            float: right;
            padding-top: .7em;
        }
    }
    &-item {
        margin-left: 0;
        margin-bottom: 15px;
        border-bottom: 1px solid #eee;
        background: $white;
        box-shadow: 0 1px 10px #ccc;
        padding: 15px;
        margin-right: 15px;
        width: 100%;
        &__date {
            color: darkgray;
            font-size: 11px;
        }
        &__name {
            font-size: .8em;
            color: $site_dark_secondary;
            a {
                color: $site_info_primary;
                font-size: 16px;
                span {
                    color: $site_dark_primary;
                    font-size: 14px;
                }
            }
        }
        &__descr {
            color: #999;
            font-size: 14px;
        }
        &__link {
            color: $site_info_primary;
            font-size: 14px;
            font-weight: bold;
        }
        &__info {
            color: $site_info_primary;
            cursor: pointer;
            span {
                color: $site_info_primary;
            }
        }
        &__bell {
            color: lightcoral;
            float: right;
            margin-left: 10px;
        }
        &-eco {
            color: #606975;
            font-weight: bold;
            &__text {
                float: right;
                font-size: 14px;
            }
            &__number {
                float: right;
                font-size: 18px;
            }
        }
        &-discount {
            background: $white;
            position: relative;
            p {
                color: $white;
            }
            &:after {
                content: "";
                position: absolute;
                width: 0;
                height: 0;
                background: #eee;
            }
            &:before {
                content: "";
                position: absolute;
                width: 0;
                height: 0;
                background: #eee;
                top: 0;
                right: 0;
                border-bottom: 110px solid $white;
                border-right: 170px solid transparent;
                -webkit-box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
                -moz-box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
                box-shadow: -3px 3px 7px rgba(0, 0, 0, 0.3);
            }
        }
    }
}

/*==== /SPECIAL OFFERS ===*/

/*==== CONTACTS ===*/
.contacts {
    ul {
        list-style: none;
        li {
            padding-bottom: 30px;
            span {
                font-size: 12px;
            }
            .fas {
                text-align: center;
                width: 15px;
            }
        }
    }
}

/*==== /CONTACTS ===*/

/*==== MAIN HEAD ===*/
.basket_phone {
    background: $site_main_primary;
    color: $white;
    width: 25px;
    height: 25px;
    border-radius: 30px;
    position: relative;
    top: -12px;
    left: 34px;
    border: 2px solid;
    font-size: 14px;
    z-index: 99;
    text-align: center;
}

.basket_count {
    float: left;
    background: $site_main_primary;
    border: 2px solid $white;
    font-size: 14px;
    border-radius: 30px;
    color: $white;
    width: 25px;
    height: 25px;
    text-align: center;
    &_media {
        position: relative;
        top: -40px;
        left: 30px;
    }
}

/*==== /MAIN HEAD ===*/

/*==== RECOMENDATION BANNER ====*/
.banner {
    input[type="checkbox"] {
        display: none;
    }
    label {
        transition: .5s ease-in-out;
    }
    input[type="checkbox"]:checked ~ .label {
        transform: rotate(180deg);
    }
    input[type="checkbox"]:checked ~ .banner-block {
        display: block;
    }
    &-header {
        margin: 0;
        &__title {
            padding: 0;
        }
        &__swipe {
            color: #fff;
            font-size: 15px;
            float: right;
            display: block;
            label {
                display: flex;
                float: right;
                height: 100%;
                align-items: center;
                margin: 0;
                a:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
        }
    }
    &-block {
        background: $white;
        padding: 30px;
        margin: 0;
        box-shadow: 0 0 40px 0 rgba(0,0,0,.11);
        list-style: none;
        h2, h3 {
            display: inline;
            font-size: 15px;
        }
        li {
            font-size: 15px;
            word-wrap: break-word;
            overflow-wrap: break-word;
            text-align: justify;
            text-indent: 30px;
        }
        h2, u {
            font-weight: 700;
        }
        a {
            font-weight: 700;
            color: #39c;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

/*==== /RECOMENDATION BANNER ====*/

/*==== NAVIGATION =====*/
.header-nav {
    color: $black;
    background: $site_main_primary;
    height: 55px;
    border-top: 5px solid $site_main_secondary;
    border-bottom: 5px solid $site_main_secondary;
    &-hide {
        position: absolute;
        width: 100%;
        z-index: 999999;
        height: auto;
    }
    ul {
        color: $white;
        width: 100%;
        margin: 0;
        text-transform: uppercase;
        font-weight: 700;
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        li {
            padding: .7% 2%;
            height: 45px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            font-size: .7em;
            cursor: pointer;
            float: left;
            list-style: none;
            color: $white;
            &:hover {
                -webkit-transition: all .4s ease;
                -moz-transition: all .4s ease;
                -o-transition: all .4s ease;
                transition: all .4s ease;
                background: $site_main_secondary;
                color: $white;
            }
        }
    }
}

.content-nav {
    &-hide {
        z-index: 999999;
        background: $white;
        border: 5px solid $site_main_danger;
        border-top: none;
        height: auto;
        padding: 15px;
        box-shadow: 0 2px 4px $black;
    }
    &__header {
        a {
            color: $site_main_secondary;
            display: block;
            font-size: 24px;
            padding-bottom: 15px;
        }
    }
    &__content {
        border: none;
    }
}

/*==== /NAVIGATION =====*/

/*==== FIXED ====*/
.fixed {
    position: fixed;
    color: $white;
    left: 0;
    margin: 0;
    width: 100%;
    background: #f1f1f1;
    z-index: 99999999;
    box-shadow: 0 0 4px 0 $black;
    height: 60px;
    &-main {
        height: inherit;
        display: flex;
        width: 100%;
        padding-top: 10px;
        &__nav {
            text-align: center;
            display: block;
            position: relative;
            &-btn {
                color: $white;
                padding: 5px;
                width: 40px;
                height: 40px;
                border-radius: 5px;
                background: #4b4e4f;
                opacity: 0.9;
                img {
                    width: 100%;
                }
                &:hover {
                    opacity: 0.5;
                }
            }
        }
        &__search {
            input {
                border-right: none;
                margin-right: -41px;
                border-radius: .25rem!important;
                box-shadow: none;
                line-height: 0;
            }
        }
        &__basket {
            display: block;
            text-align: center;
            img {
                width: 100%;
            }
            .basket_count {
                border-radius: 30px;
                color: $white;
                width: 25px;
                height: 25px;
                position: relative;
                background: $site_main_primary;
                top: -40px;
                left: 59%;
            }
            &-btn {
                color: $white;
                padding: 5px;
                width: 40px;
                height: 40px;
                border-radius: 5px;
                background: #4b4e4f;
                opacity: 0.9;
                img {
                    width: 100%;
                }
                &:hover {
                    opacity: 0.5;
                }
            }
        }
    }
    &.hidden {
        display: none;
    }
}

.fixed-phone {
    display: none;
    width: 100%;
    ul {
        margin: 0;
        padding-left: 0;
        list-style: none;
        li {
            display: inline-block;
            width: 40px;
            &.logotype-min {
                display: inline;
                height: auto;
                position: relative;
                width: auto;
                img {
                    width: 100%;
                }
                a {
                    width: 80px;
                }
            }
            a, a:not([href]):not([tabindex]), button {
                background: $white;
                color: #292929;
                width: 40px;
                border: 1px solid white;
            }
        }
        .basket_status {
            display: inline-block;
            width: 0;
        }
    }
}

/*==== /FIXED ====*/

/*==== MAIN ====*/
.main {
    padding: 15px 0;
    background: $white;
}

.main_menu {
    padding-left: 0;
    padding-right: 0;
    .nav-title {
        padding: 0;
    }
    .nav-tabs {
        background: #f1f1f1;
        box-shadow: 0 1px 4px #ccc;
        a, h1 {
            font-size: 16px;
            display: block;
            padding: 15px;
            color: $black;
            margin: 0;
            &:hover {
                color: $black;
            }
        }
        .show {
            background: #778899;
        }
    }
}

/*==== TEMPLATES GOODS ====*/
.goods {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    &__item {
        text-align: center;
        max-width: 200px;
        h3 {
            margin: 0;
            font-size: 11px;
            color: gray;
            line-height: 1em;
        }
        img {
            width: 150px;
            height: 150px;
            filter: grayscale(100%);
            display: flex;
            &:hover {
                filter: grayscale(0);
                & + h2 {
                    text-decoration: underline;
                }
            }
        }
        span {
            color: $black;
            font-size: 13px!important;
            font-weight: 700;
        }
    }
}

/*==== /TEMPLATES GOODS ====*/

/*===== MANUFACTURE ====*/
.filters {
    h1 {
        color: $black;
        font-size: 25px;
        padding-right: 15px
    }
    h2 {
        margin: 0;
    }
    h2, h3, h4 {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
    }
}

.search__cat-auto {
    position: relative;
    left: -20px;
    color: $black;
}

.searchtab_model {
    position: relative;
    left: -20px;
    color: $site_main_primary;
    float: left;
    min-width: 20px;
}

.searchtab__appl {
    padding: 0 15px;
    font-size: 13px;
}

.searchtab__appl-phone {
    display: none;
}

.searchtab__appl-head {
    color: $white;
    padding: 10px;
    border-top: none;
    background: $site_dark_primary;
}

.searchtab__appl-link {
    padding: 10px;
    background: $white;
    color: $black;
    &:focus, &:hover {
        background: #ddd;
    }
}

.manufacture_list {
    padding: 0 20px;
    list-style: none;
    -webkit-column-count: 4;
    -webkit-column-gap: 20px;
    -moz-column-count: 4;
    -moz-column-gap: 20px;
    column-count: 4;
    column-gap: 70px;
    .auto-list, .model-list {
        color: gray;
        &:hover {
            color: $site_dark_secondary;
        }
    }
    &_min {
        column-count: 5;
    }
}

.year_list {
    color: $black;
    display: flex;
    justify-content: space-between;
    ul {
        width: 100%;
    }
    .year-title {
        color: $black;
        background: #ddd;
        text-align: center;
        margin: 10px;
    }
}

.year-list {
    text-align: center;
}

.manufacture_year {
    column-gap: 16px;
    padding: 0;
}

.check-head {
    color: $white;
    background: $site_info_primary!important;
}

/*==== HEAD BLOCK =====*/
.head-list {
    list-style: none;
    margin: 0;
    padding: 0;
    &.bordered {
        box-shadow: 0 1px 4px #ccc;
    }
    &__item {
        border-bottom: 1px solid #f1f1f1;
        label {
            width: 100%;
            margin: 0;
        }
        input[type="checkbox"] {
            display: none;
            &:checked ~ div {
                display: block!important;
            }
            &:checked ~ label .tree-head {
                background: #f5f5f5;
                i {
                    transform: rotate(90deg);
                }
            }
        }
    }
}

/*==== /HEAD BLOCK =====*/

/*==== TREE BLOCK =====*/
.tree-head {
    background: $white;
    height: 150px;
    margin: 0;
    img {
        width: auto;
        height: 120px;
        display: block;
        -moz-transition: all 1s ease-out;
        -o-transition: all 1s ease-out;
        -webkit-transition: all 1s ease-out;
    }
    span {
        float: right;
        font-size: 20px;
        font-weight: 700;
    }
    &_min {
        height: 75px;
        img {
            width: 100%;
            height: auto;
        }
        span {
            float: unset;
            font-size: 1.1em;
            text-align: center;
            font-weight: 600;
        }
    }
}

/*==== /TREE BLOCK =====*/

/*==== TREE LIST =====*/
.tree-list {
    border: none;
    transition: all 2s linear;
    width: 100%;
    &-clear {
        border: none;
        padding: 0;
    }
}

.tree-title {
    a {
        color: $site_info_primary;
    }
    span {
        display: block;
        padding: 10px 0 0 10px;
        font-size: 20px;
        font-weight: bold;
    }
}

.tree-str {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
    align-content: flex-start;
}

.tree-cat .title a {
    display: block;
    padding: 10px 0 0 10px;
    font-size: 16px;
    font-weight: bold;
    color: $site_info_primary;
}

.tree-item {
    cursor: pointer;
    width: calc(10% - 10px);
    margin: 0 10px 10px 0;
    a {
        color: #374250;
        display: block;
        margin: 0;
        flex: 0;
    }
    span {
        font-weight: bold;
        font-size: 12px;
        display: block;
        text-align: center;
        height: 40px;
    }
    img {
        width: 100%;
        margin: 0 auto;
        display: block;
        padding: 5px;
        border: 1px solid #f1f1f1;
        &:hover img {
            transition: all .3s linear;
        }
        &:hover span {
            color: #000;
            transition: all .3s linear;
            text-decoration: underline;
        }
    }
}

/*==== /TREE LIST =====*/

/*==== FOOTER ====*/
.footer {
    &__socials {
        background: $site_main_primary;
        color: $white;
        padding: 1% 0 .5%;
        ul {
            padding-top: 1%;
            li {
                display: inline;
            }
        }
        img {
            width: 30px;
            padding: 5px;
            border-radius: 5px;
            background: rgba(54, 25, 25, .5);
            margin-right: 1%;
            &:hover {
                background: #292929;
            }
        }
    }
    &__contacts {
        background: #292929;
        color: $white;
        padding: 2%;
        font-size: 10pt;
        ul {
            li {
                color: $site_dark_secondary;
                font-size: 10pt;
                margin-bottom: 10px;
                a {
                    color: $site_dark_secondary;
                    font-size: 10pt;
                    &:hover {
                        color: $white;
                        text-decoration: underline;
                    }
                }
                i {
                    padding-right: 2%;
                }
            }
        }
        &-head {
            ul {
                list-style: none;
                li {
                    margin-bottom: 1%;
                    font-size: 14px;
                    color: $white;
                    a {
                        &:hover {
                            color: #ccc;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
        &-column {
            border-left: 1px solid #ddd;
            padding-left: 5%;
        }
    }
    &__cities {
        background: #292929;
    }
}

.lang_select {
    cursor: pointer;
    &:hover {
        span {
            color: #ccc;
        }
        img {
             box-shadow: 0 0 5px $white;
        }
    }
}

.ancor {
    color: $black;
    left: 85%;
    top: 85.7%;
    position: fixed;
    right: .625rem;
    bottom: 200px;
    z-index: 11;
    display: block;
    width: 45px;
    height: 45px;
    opacity: .75;
    text-align: center;
    box-shadow: 0 0 2px 0 rgba(51, 51, 51, .05), 0 1px 4px 0 rgba(51, 51, 51, .15);
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
    &.hidden {
        display: none;
    }
    &__link {
        i {
            width: 44px;
            height: 44px;
            text-align: center;
            padding: 14px;
        }
        a {
            text-align: center;
            color: $black;
            &:hover {
                color: $site_main_primary;
            }
        }
    }
}

.mob-span span {
    width: 44px;
    height: 44px;
    text-align: center;
    padding: 14px;
}

/*==== /FOOTER ====*/

/*==== MANUFACTURE ====*/
.pointer-el {
    cursor: pointer;
    transition: .1s ease-in-out;
    &:hover {
        background: #f5f5f5;
        img {
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -o-transform: scale(1.1);
        }
    }
}

.title_auto {
    display: block;
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 16px;
    color: $site_main_primary;
    i {
        background: $site_dark_primary;
        color: $white;
        padding: 5px;
        border-radius: .25em;
    }
}

/*==== CAR PRODUCTS ====*/

.details-offers {
    &-side {
        border-right: 1px solid #f1f1f1;
        padding: 3% 2%;
    }
    &__header {
        h1 {
            color: #292929;
            font-size: 32px;
            font-weight: bold;
            text-transform: uppercase;
        }
        span {
            display: inline;
            font-size: 22px;
            font-weight: bold;
            color: #606975;
            text-transform: uppercase;
        }
    }
    &__pagination {
        nav {
            display: block;
            margin: 2em auto 0 auto;
        }
    }
    &__brands {
        input {
            width: 100%;
        }
        ul {
            list-style: none;
            li {
                a {
                    color: $black;
                }
            }
        }
    }
    &__linking {
        ul {
            list-style: none;
            li {
                a {
                    color: $black;
                }
            }
        }
    }
}

.details_form {
    padding: 0;
    &-title {
        background: $site_info_secondary;
        color: $white;
        padding: 15px;
        margin: 0;
        h1 {
            font-size: 1.5em;
            text-transform: uppercase;
            font-weight: bold;
            margin: 0;
        }
    }
}

.car_form {
    margin-bottom: 1em;
}

.car_form-select {
    min-height: unset!important;
    background: $site_info_secondary;
    color: $white;
    padding: 1em 0;
    h1, h2 {
        font-size: 1.5em;
        font-weight: bold;
        text-transform: uppercase;
        padding-left: 15px;
    }
    &-h {
        display: block;
        font-size: 1.5em;
        font-weight: bold;
        text-transform: uppercase;
        padding-left: 15px;
    }
}

.show_more_title {
    padding-right: 15px;
    cursor: pointer;
    display: none;
    font-size: 1em;
}

.cars_range-title {
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    a {
        color: $site_info_secondary;
        &:hover {
            color: #26a4af;
        }
    }
    &-h {
        display: block;
        margin: 0;
        padding: 10px;
        text-align: center;
        cursor: pointer;
        background: $site_info_primary;
        color: $white;
        overflow: hidden;
        white-space: nowrap;
        font-size: 1em;
        border-radius: .25em;
    }
}

.cars_range-main {
    padding: 0 10px;
    .col-12 {
        padding: 0 20px;
        .car_form-select_card {
            margin: 0;
        }
    }
    &_min {
        z-index: 999;
        position: absolute;
        width: 100%;
        margin: 0;
        padding: 0 5px;
    }
}

.car_form-selected {
    background: $white!important;
    opacity: 1!important;
    border-bottom-left-radius: 0!important;
    border-bottom-right-radius: 0!important;
    padding-bottom: 20px!important;
    color: $black!important;
}

.car_form-disabled {
    background: #ddd!important;
    opacity: 0.5!important;
    color: $black!important;
}

.car_form-select_card {
    background: $white;
    padding: 1.2em;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
}

.t_mfa {
    padding: 0 20px;
    list-style: none;
    -webkit-column-count: 4;
    -webkit-column-gap: 20px;
    -moz-column-count: 4;
    -moz-column-gap: 20px;
    column-count: 4;
    column-gap: 70px;
    a {
        color: $black;
    }
}

.t_model {
    padding: 0 20px;
    list-style: none;
    -webkit-column-count: 4;
    -webkit-column-gap: 20px;
    -moz-column-count: 4;
    -moz-column-gap: 20px;
    column-count: 4;
    column-gap: 70px;
}

.t_year {
    color: $black;
    display: flex;
    justify-content: space-between;
    ul {
        width: 100%;
    }
    span {
        display: block!important;
    }
    .year-title {
        color: $black;
        background: #ddd;
        text-align: center;
        margin: 10px;
    }
}

.t_model_id {
    a {
        display: block;
        &:hover {
            background: #f1f1f1;
        }
    }
    b {
        text-align: left;
    }
    span {
        float: right;
    }
    .t_model_id img {
        max-width: 100%;
        width: auto;
        height: 70px;
    }
    .row {
        padding: 10px;
        .body-car {
            padding-right: 0;
            img {
                width: 50px;
                height: auto;
            }
        }
        .image-car {
            padding-left: 0;
            img {
                width: 100%;
            }
        }
    }
}

.t_modification {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    div {
        margin-right: 15px;
        margin-bottom: 15px;
        width: calc(25% - 15px);
        border: 1px solid #ddd;
        padding: 15px;
    }
}

.t_types {
    display: flex;
    flex-direction: row;
    div {
        flex:1 1 auto;
    }
    a {
        display: block;
    }
    span {
        display: block;
    }
}

.car_form-garage {
    min-height: unset!important;
    color: $white!important;
    padding: 1em;
    background: $site_info_secondary;
}

.garage_form {
    a {
        font-size: 15px;
        padding: 0!important;
        text-transform: uppercase;
        color: $white;
    }
    span {
        font-size: 11px;
        padding: 0;
        text-align: left;
        float: none;
        &.title {
            font-size: 16px;
            font-weight: bold;
        }
    }
    img {
        filter: none;
        width: auto;
        float: none;
    }
    &-buttons button {
        margin-top: 10px;
        margin-right: 10px;
        width: 150px;
        font-size: 14px;
        float: left;
    }
    .garage-row__buttons {
        text-align: right;
        button {
            width: 150px;
        }
    }
}

.btn-close {
    padding: 0;
    height: 29px;
    width: 29px;
    border-radius: 15px;
    background: url(/images/icons/close-white.svg) center no-repeat;
    &:hover, &:active {
        background: url(/images/icons/close-black.svg) center no-repeat;
    }
}

.btn-arrow {
    padding: 0;
    height: 29px;
    width: 29px;
    border-radius: 15px;
    background: url(/images/icons/dropdown-white.svg) center no-repeat;
    &:hover {
        background: url(/images/icons/dropdown-red.svg) center no-repeat;
    }
}

.garage-user {
    background: #fff;
    box-shadow: 0 1px 4px #ccc;
    border-bottom: 3px solid #0c5460;
    height: auto;
    .btn-arrow {
        float: right;
        display: none;
    }
    .btn-close {
        float: right;
    }
    &-select {
        padding-right: 0;
    }
    &__title {
        background: #0c5460;
        color: #fff;
        padding: 15px;
        margin-right: 30px;
        height: 100%;
        &:after {
            content: "";
            background: url(/images/icons/back-arrow.png) left no-repeat;
            position: absolute;
            left: calc(100% - 30px);
            bottom: 0;
            width: 30px;
            height: 100%;
            background-size: contain;
        }
        span {
            font-size: 11px;
            position: relative;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            display: inline-block;
            width: calc(100% - 29px);
            &.title {
                font-size: 16px;
                font-weight: 700;
                line-height: 29px;
            }
        }
    }
    &__nav {
        display: flex;
        flex-wrap: nowrap;
        padding: 15px;
        align-items: center;
        justify-content: flex-end;
        height: 100%;
        .btn-img {
            margin-right: 10px;
        }
    }
    &__image {
        padding: 15px;
        img {
            width: auto;
            max-height: 85px;
            float: right;
        }
    }
}

.garage_typ_form {
    background: $site_info_secondary;
    a {
        font-size: 15px;
        padding: 0!important;
        text-transform: uppercase;
        color: $white;
    }
    span {
        color: $white;
        font-size: 11px;
        padding: 0;
        text-align: left;
        float: none;
        &.title {
            font-size: 16px;
            font-weight: bold;
        }
    }
    img {
        float: right;
        border: 2px solid $white;
        border-radius: .25rem;
        max-height: 85px;
    }
    &.garage_form-buttons {
        text-align: right;
        button {
            margin-bottom: .5em;
            width: 150px!important;
            font-size: 14px;
            border: 2px solid $white;
            background: $site_info_secondary;
            color: $white;
            &:hover {
                background: $white;
                color: $site_info_secondary;
            }
        }
    }
}

/*==== /CAR PRODUCTS ====*/

/*==== SEO CARS =====*/
.seo_details {
    .seo-ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
    }
    .seo-li {
        cursor: pointer;
        display: flex;
        width: calc(25% - 48px);
        margin-right: 48px;
        margin-bottom: 15px;
        height: 75px;
        text-decoration: none;
        padding: 0 69px 0 0;
        position: relative;
        border-bottom: 1px solid #ebebeb;
        &:after {
            content: "";
            position: absolute;
            top: calc(50% - 11px);
            right: 12px;
            width: 22px;
            height: 22px;
            border-radius: 100%;
            background: url(/images/next-black.svg) center no-repeat;
            background-size: cover;
        }
        &:hover {
            color: $site_info_primary!important;
            box-shadow: 2px 4px 10px rgba(0, 0, 0, .1);
            & img {
                filter: grayscale(0);
            }
        }
        &:hover:after {
            background: $site_info_primary url(/images/next-white.svg) center no-repeat;
            background-size: cover;
        }
        span {
            position: relative;
            max-height: 85%;
            overflow: hidden;
            display: flex;
            margin: auto 0;
            font-size: 15px;
        }
        img {
            width: 100%;
            filter: grayscale(100%);
        }
        &-id {
            width: calc(33% - 48px);
            margin-bottom: 15px;
        }
    }
}

.seo_auto {
    a {
        color: $black;
    }
    ul {
        list-style: none;
        column-count: 1;
        li.title {
            padding: 15px 0;
        }
        &.list-inline {
            list-style: none;
            column-count: 4;
        }
    }
    &.title {
        font-weight: bold;
    }
}

/*==== /SEO CARS =====*/




