.up-arrow {
    i {
        width: 44px;
        height: 44px;
        text-align: center;
        padding: 14px
    }
    a:hover {
        color: #f44336
    }
}

.mob-span span {
    width: 44px;
    height: 44px;
    text-align: center;
    padding: 14px
}

.panel {
    color: #fff;
    padding-top: 6%;
    background: #606975;
    z-index: 999999;
    border-right: 1px solid #a5abb2;
    list-style: none;
    ul {
        list-style: none;
        li {
            padding: 10%;
            border-bottom: 1px solid #a5abb2;
        }
    }
    span {
        color: #fff;
        font-size: 10pt
    }
}

/* === PHONE === */
@media (max-width: 768px) {

    .garage_block {
        width: 300%;
        left: -200%;
        top: 280%
    }

    #cat_search_auto,
    .header-main,
    .header-nav,
    .authorization ul,
    .authorization span,
    .basket,
    .contacts,
    .fixed-main,
    .fixed-menu,
    .fixed-up,
    .mob-span,
    .offset,
    .searchtab__appl,
    .logotype-main,
    .adnone {
        display: none
    }

    .header-phone,
    .tabs-auto,
    .tabs-auto li,
    .fixed-phone,
    .table-responsive,
    .info_block,
    .searchtab__appl-phone,
    .nav-tabs {
        display: block
    }

    .rec-info .nav-tabs {
        display: flex;
    }

    .banner {
        text-indent: 0;
    }

    .tabs-auto li a {
        padding-left: 5px
    }

    .header-phone {
        padding: 8px 0;
        li {
            padding-left: 8px
        }
    }

    .label {
        width: 100%;
    }

    .main {
        padding-bottom: 5%
    }

    .main_menu {
        padding-right: 0;
        padding-left: 0;
        h1, h2 {
            font-size: 14px;
        }
    }

    .transition {
        padding: 15px 0!important
    }

    .search input {
        font-size: 14px
    }

    .info_block {
        padding: 10px
    }

    .tab-content {
        padding: 0!important
    }

    .tab_auto_group,
    .tables {
        padding: 0
    }

    .searchtab__appl-phone .container {
        margin: 15px 0;
        border: 1px solid #a9a9a9
    }

    .searchtab__appl-link {
        background: #fff
    }

    .searchtab__appl-head {
        background: #ddd;
        h3 {
            color: #f44336;
            font-weight: 700;
            font-size: 12px;
            margin: 0;
        }
        h4 {
            color: #000;
            font-size: 12px;
            text-align: right;
            margin: 0
        }
    }

    .fixed {
        width: 100%;
        left: 15px;
        background: #fff;
        height: auto;
        width: 100%;
        a {
            color: gray;
        }
        h1 {
            font-size: 20px;
            padding-top: .45em
        }
    }

    .btn-header-phone {
        color: gray;
    }

    .logotype-min {
        display: inline;
        height: auto;
        position: relative;
        img {
            width: 100%;
        }
        a {
            width: 80px;
            border: 1px solid white;
        }
    }

    .manufacture_list {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
        &_min {
            -moz-column-count: 1;
            -webkit-column-count: 1;
            column-count: 1
        }
    }

    .nav-title h1 {
        font-size: 1em;
    }

    .nav-auto {
        text-align: left;
    }

    .font10 {
        font-size: 10px
    }

    .owl-row {
        padding: 0 15px
    }

    .tree-list li {
        width: 50%;
        margin: 0;
        padding: 10px
    }

    .tree-head {
        min-height: 200px;
        span {
            float: left;
        }
    }

    /*=== GOODS ====*/
    .goods__item {
        margin: 0
    }

    .goods-content {
        padding: 30px;
        text-align: center
    }

    .goods {
        display: inline-table
    }

    /*=== /GOODS ====*/

    /*====FOOTER====*/
    .foot_head ul {
        padding-right: 1%
    }

    .footer-contacts {
        padding-top: 5%
    }

    .footer-socials {
        padding-left: 15px;
        ul {
            padding-top: 2%;
            margin-bottom: 2%;
        }
    }

    .foot_col {
        border: none!important;
        padding-left: 15px!important
    }

    .cat_display {
        text-align: left;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }

    .cars_range-title-h {
        display: none;
    }

    .car_form-selected {
        display: block!important;
        padding: 10px!important;
    }

    .main_menu .tabs-auto {
        display: block!important;
    }

    .main_menu .tabs-auto .nav-item {
        display: block!important;
    }

    .span-media {
        display: none!important;
    }

    .t_mfa {
        column-count: 2;
    }

    .t_model {
        column-count: 2;
    }

    .t_model_id .row .body-car {
        padding: 0;
    }

    .t_model_id .row .image-car {
        padding: 0;
    }

    .t_modification div {
        width: 100%;
        margin-right: 0;
    }

    .cars_range-title {
        margin-top: 1em;
    }

    .show_more_title {
        display: block;
    }

    .car_form-select {
        padding: .75em;
        h1, h2 {
            font-size: 1em;
            margin: 0;
        }
    }

    .garage_row button {
        width: 100px;
    }

    .garage_form-buttons {
        margin-top: 15px;
        text-align: left!important;
    }

    .seo_details .seo-li {
        width: 100%;
        margin-right: 0;
    }

    .tree-head_min img {
        width: auto;
    }

    .tree-item {
        width: calc(50% - 15px);
    }

    .seo_auto ul.list-inline {
        column-count: 2;
    }

    .seo_details .seo-li.seo-li-id {
        width: 100%;
    }

    .seo_details .seo-li img {
        width: 100%;
        max-height: 70px;
    }
}

/*==== PAD === */
@media (min-width: 768px) and (max-width: 1200px) {

    #menu {
        display: none;
    }

    .main_menu .table-responsive {
        display: block;
    }

    .label {
        width: auto;
    }

    .authorization {
        padding: 0;
    }

    #menu {
        display: none;
    }

    .garage_count {
        left: 116px;
    }

    .basket_count {
        left: 120px;
    }

    .table-responsive {
        display: block;
    }

    .label {
        width: auto;
    }

}

