#AlertForm {
    z-index: 99999;
}

#PhotoForm {
    padding: 0;
}

#BasketForm {
    .modal-header {
        display: none;
    }
    .modal-dialog {
        max-width: 1080px;
        padding-bottom: 30px;
    }
}

/*==== INFO FORM ====*/
#InfoForm {
    .modal-header {
        background: #228b94;
    }
    .modal-dialog {
        max-width: 650px;
    }
    .tab-content {
        background: #fff;
        padding: 10px;
    }
    .info_title h4 span {
        color: rgba(54, 25, 25, .5);
        font-weight: 700;
    }
}

.info {
    &__applicability {
        margin: 15px 0;
    }
    &__numbers {
        margin: 15px;
        text-align: left;
        &__row {
            border: 1px solid #797979;
            border-top: none;
            padding: 0;
        }
        &__title {
            background: #797979;
            color: #fff
        }
        &__auto {
            background: #f7f7f7;
            border-right: 1px solid #797979;
            overflow-wrap: break-word;
            font-weight: bold;
        }
    }
    &__table {
        font-size: 0.7em;
        border-collapse: separate;
        border-spacing: 0 1em;
        width: 100%;
        td {
            width: 175px;
        }
        &_min {
            font-size: 0.7em;
            width: 100%;
            tr {
                border: none;
                td {
                    padding-bottom: 5px;
                }
            }
        }
    }
}

/*==== /INFO FORM ====*/

.modal-body {
    text-align: center;
    &.container .col-10 {
        padding: 0;
    }
}

.modal-content {
    border-radius: 0;
    top: 50px;
}

.modal-loader {
    background: transparent;
    border: none;
    padding-top: 40%;
}

.modal-header {
    border-radius: 0;
    background: #606975;
    color: #fff;
    border-bottom: unset;
    span {
        margin: 0;
    }
    button {
        width: 100px;
        margin-left: 10px;
    }
    &.close {
        outline: 0;
    }
}

.modal-gallery {
    background-color: rgba(0, 0, 0, .5);
    .container {
        max-width: 100%;
    }
    .modal-dialog {
        max-width: 100%;
        margin: 0;
    }
    .modal-header {
        display: block;
        background: none;
        border: none;
        padding-top: 25px;
        button {
            padding: 0;
            width: auto;
            float: right;
            margin: 0;
        }
    }
    .modal-content {
        background: 0 0;
        border: none;
        top: 0;
    }
    .modal-body {
        padding: 0;
    }
    .info-photo {
        border: none;
    }
    .d-block {
        max-height: 85vh;
        padding-bottom: 25px;
    }
    .carousel-caption {
        bottom: -18px;
    }
}

.modal-phone button {
    width: auto;
    margin: 0;
}

.close {
    color: #fff;
}