#PhoneArticle {
    background-color: #fff;
    .modal-header {
        button {
            color: #000;
        }
    }
}

.modal-full {
    background: #fff!important;
    .modal-header {
        button {
            color: #000!important;
        }
    }
}

.modal-help {
    background: #fff;
    color: #000;
    padding: 0 30px;
    width: 100%;
    ul {
        list-style: none;
    }
    &-title {
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 30px;
    }
    &-row {
        margin-top: 30px;
        &__circle {
            font-size: 12px;
            background: #0c6;
            color: #fff;
            border-radius: 25px;
            height: 20px;
            width: 20px;
            line-height: 20px;
            display: inline-block;
            text-align: center;
            margin-left: -25px;
            margin-bottom: 15px;
        }
        &__text {
            font-size: 13px;
            margin-bottom: 15px;
        }
        &-call {
            button {
                width: 100%;
                background: #f1f1f1;
                border: none;
                border-radius: .25em;
                color: #228b94;
                padding: 10px;
                margin: 15px 0;
            }
        }
        &-socials {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            &__item {
                display: block;
                &-image {
                    border-radius: 25px;
                    height: 50px;
                    width: 50px;
                    &__telegram {
                        background: #29a8ea;
                    }
                    &__viber {
                        background: #6359a7;
                    }
                    &__facebook {
                        background: #4064ad;
                    }
                    img {
                        height: 100%;
                        width: 100%;
                        padding: 10px;
                    }
                }
                span {
                    font-size: 14px;
                    text-align: center;
                    display: block;
                }
            }
        }
        &-phones {
            list-style: none;
            margin: 0;
            text-align: center;
            li {
                margin-bottom: 15px;
            }
            a {
                border: none;
                background: 0 0;
                color: #606975;
                font-size: 14px;
            }
            img {
                height: 15px;
                width: 15px;
            }
        }
    }
}

#AlertForm {
    z-index: 99999;
}

#PhotoForm {
    padding: 0;
}

#CarsForm {
    .modal-dialog {
        max-width: 1200px;
        width: 100%;
        .modal-content {
            .modal-header {
                display: none;
            }
            .modal-body {
                padding: 0;
            }
        }
    }
}

#BasketForm {
    .modal-dialog {
        max-width: 1080px;
        padding-bottom: 30px;
        .modal-content {
            top: 0;
            .modal-header {
                display: none;
            }
        }
    }
}

#GarageForm {
    .modal-dialog {
        max-width: 1080px;
        padding-bottom: 30px;
        .modal-content {
            top: 0;
            .modal-header {
                background: #fff!important;
                button {
                    color: #000!important;
                }
            }
        }
    }
}

/*==== INFO FORM ====*/
#InfoForm {
    .modal-dialog {
        max-width: 650px;
        .modal-header {
            background: #228b94;
        }
    }
    .tab-content {
        background: #fff;
        padding: 10px;
    }
    .info_title h4 span {
        color: rgba(54, 25, 25, .5);
        font-weight: 700;
    }
}

.info {
    &__applicability {
        margin: 15px 0;
    }
    &__numbers {
        margin: 15px;
        text-align: left;
        &-title {
            background: #606975;
            color: #fff
        }
        &-row {
            border: 1px solid #606975;
            border-top: none;
            padding: 0;
            &-auto {
                background: #f7f7f7;
                border-right: 1px solid #606975;
                font-weight: bold;
                overflow-wrap: break-word;
            }
            &-article {
                word-wrap: break-word;
            }
        }
    }
    &__table {
        border-collapse: separate;
        border-spacing: 0 1em;
        font-size: 0.7em;
        width: 100%;
        td {
            width: 175px;
        }
        &_min {
            font-size: 0.7em;
            width: 100%;
            tr {
                border: none;
                td {
                    padding-bottom: 5px;
                }
            }
        }
    }
}

/*==== /INFO FORM ====*/

.modal-body {
    text-align: center;
    &.container .col-10 {
        padding: 0;
    }
}

.modal-content {
    border-radius: 0;
    top: 50px;
}

.modal-loader {
    background: transparent;
    border: none;
    padding-top: 40%;
}

.modal-header {
    background: #606975;
    border-bottom: unset;
    border-radius: 0;
    color: #fff;
    span {
        margin: 0;
    }
    button {
        width: 100px;
        margin-left: 10px;
    }
    &.close {
        float: right;
        margin: 0;
        outline: 0;
        padding: 0;
        width: auto;
    }
}

.modal-gallery {
    background-color: rgba(0, 0, 0, .5);
    .container {
        max-width: 100%;
    }
    .modal-dialog {
        max-width: 100%;
        margin: 0;
    }
    .modal-header {
        background: none;
        border: none;
        display: block;
        padding-top: 25px;
        button {
            float: right;
            margin: 0;
            padding: 0;
            width: auto;
        }
    }
    .modal-content {
        background: 0 0;
        border: none;
        top: 0;
    }
    .modal-body {
        padding: 0;
    }
    .info-photo {
        border: none;
    }
    .d-block {
        max-height: 85vh;
        padding-bottom: 25px;
    }
    .carousel-caption {
        bottom: -18px;
    }
}

.modal-phone {
    button {
        margin: 0;
        width: auto;
    }
    input {
        border-radius: .25rem;
    }
    .search {
        margin-top: 15px;
        &-block {
            background: #fff;
        }
        &-header {
            padding: 15px 0;
        }
        &-nav {
            list-style: none;
            margin: 0;
            max-height: 200px;
            overflow-y: scroll;
            &__item {
                a, a:not([href]):not([tabindex]) {
                    display: block;
                    color: #000;
                    cursor: pointer;
                    font-size: 12px;
                    overflow: hidden;
                    padding: 10px 0;
                    position: relative;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    &:hover {
                        color: #ccc;
                    }
                }
                &:hover {
                    background: #f7f7f7;
                }
            }
        }
    }
}

.close {
    color: #fff;
}

@media (max-width: 992px) {
    #BasketForm, #GarageForm {
        background: #fff!important;
        .modal-content {
            border: none;
        }
        .modal-header {
            button {
                color: #000!important;
            }
        }
    }
}