.d-block {
    max-height: 230px;
    margin: auto;
}

.img-fluid {
    width: auto;
    margin: 0 auto;
}

.rotate_animation {
    transition: .5s ease-in-out;
}

.rotate_icon {
    transform: rotate(90deg);
}

.rotate_anime {
    transition: .5s ease-in-out
}

.icon-rotate {
    transform: rotate(180deg)
}

.tooltip-inner {
    max-width: 350px;
}

.disabled {
    color: #dddddd!important;
}

.page-link {
    color: #228b94;
}

.page-item.active .page-link {
    background-color: #228b94;
    border-color: #228b94;
}

/*==== INPUTS ====*/
.input-group-append {
    z-index: 100;
    &.btn {
        z-index: 998;
    }
}

.input-group-prepend {
    margin: 0;
    &.btn {
        border-right: none;
        z-index: 998;
    }
}

.input:focus+.label {
    z-index: 1
}

.input:checked+.label {
    background: gray;
    color: #fff
}

/*==== /INPUTS ====*/

/*==== BUTTONS =====*/
.btn-primary {
    width: 100%;
    border-radius: .25rem;
    border: 1px solid #228b94;
    background: #228b94;
    color: #fff;
    &:hover {
        color: #fff;
        background: #f08080;
        border: 1px solid #f08080;
    }
    &:active {
        color: #fff;
        background: #f08080!important;
        border: 1px solid #f08080!important;
    }
    &:disabled {
        background: #a9a9a9;
        color: #000;
        border-color: gray;
        cursor: no-drop;
        opacity: .5;
    }
}

.btn-primary-outline {
    width: 100%;
    border-radius: .25rem;
    border: 1px solid #228b94;
    background: #ffffff;
    color: #228b94;
    &:hover {
        color: #fff;
        background: #228b94;
        border: 1px solid #228b94;
    }
    &:active {
        color: #fff;
        background: #228b94!important;
        border: 1px solid #228b94!important;
    }
    &:disabled {
        background: #a9a9a9;
        color: #000;
        border-color: gray;
        cursor: no-drop;
        opacity: .5;
    }
}

.btn-secondary {
    color: #228b94;
    width: 100%;
    border-radius: .25rem;
    background: #fff;
    border: 1px solid #228b94;
    &:active, &:hover {
        background: #228b94;
        color: #fff;
        border: 1px solid #228b94;
    }
}

.btn-outline-secondary {
    border-color: #ccc;
}

.btn-search-art {
    background: #f7f7f7;
    color: #a9a9a9;
    border: 1px solid #ced4da
}

.btn-header-phone {
    background: #fff;
    color: #a9a9a9;
    border: none;
    width: 35px;
    padding: .375rem .1em
}
/*==== /BUTTONS =====*/

/*==== DROPDOWN ====*/
.dropdown-item {
    font-size: 13px;
    &.active, &:active {
        color: #fff!important;
        text-decoration: none;
        background-color: #f44336;
    }
}

.dropdown {
    position: relative;
    display: inline-block;
    a:hover {
        background-color: #4b4e4f;
        color: #fff
    }
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 40px;
    background-color: #f1f1f1;
    min-width: 260px;
    overflow: auto;
    box-shadow: 0 2px 4px 0 grey;
    z-index: 1;
    a {
        color: #000;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        &:hover {
            background: #ccc;
        }
    }
    p {
        font-size: 16px;
        line-height: 20px;
        margin: 0;
        padding: 0;
    }
}

.dropdown-toggle {
    width: 50px!important;
    background: #606975;
    border: none!important;
    font-size: 1em;
    color: #fff;
}

.dropdown-menu-right {
    min-width: 4em;
    width: 4em;
}

/*==== /DROPDOWN ====*/

/*==== SCROLLBAR ====*/
::-webkit-scrollbar {
    width: 10px;
    height: 5px
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3)
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .5);
    -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .5)
}

/*==== /SCROLLBAR ====*/

/*==== TABLE ====*/

table {
    thead {
        th {
            text-align: center;
        }
        td {
            border: 1px solid #000;
        }
    }
}

.table-responsive {
    display: table;
    table {
        width: 100%;
        thead {
            background: #e1e7ec;
            color: #228b94;
            border: 1px solid #ddd;
            th {
                vertical-align: middle
            }
        }
        tr {
            height: 50px;
            border: 1px solid #ddd;
            td {
                border: 1px solid #ddd;
            }
        }
    }
}

/*==== /TABLE ====*/

/*==== NAVS ====*/
.main_menu .nav-tabs {
    background: #606975;
    box-shadow: 0 1px 4px black;
}

.main_menu .nav-tabs a, .main_menu .nav-tabs h1 {
    display: block;
    padding: 0 15px;
    color: #fff;
    font-weight: 700;
    line-height: 3em;
    margin: 0;
}

.main_menu .nav-tabs a:hover, .main_menu .nav-tabs h1:hover {
    color: #f44336;
}

.main_menu .nav-tabs .show {
    background: #778899;
}

#nav-Content .nav-tabs {
    border-bottom: 0;
    width: 100%;
    background: #fff;
}

#nav-Content .nav-tabs .nav-link.active {
    color: #228b94;
    background-color: #fff;
    border-color: #fff;
    border-radius: 0;
    text-decoration: underline;
}

#nav-Content .nav-tabs a, #nav-Content .nav-tabs h1 {
    padding: 0;
    padding-right: 15px;
    color: #797979;
    font-weight: 700;
    line-height: 3em
}

#nav-Content .nav-tabs a:hover, #nav-Content .nav-tabs h1:hover {
    color: #f44336;
}

#nav-Content .nav-tabs .show {
    background: #778899
}

/*==== /NAVS ====*/

/*==== TABS ====*/
.tabs {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    background: #4b4e4f;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .1)
}

.nav-tabs {
    border-bottom: 0;
    width: 100%;
    background: #228b94;
    a {
        color: #fff;
        &:hover {
            color: #f1f1f1;
        }
    }
}

.nav-tabs .nav-link {
    border: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    &.active {
        -webkit-transition: all .2s ease;
        -moz-transition: all .2s ease;
        -o-transition: all .2s ease;
        transition: all .2s ease;
        color: #228b94;
        background-color: #fff;
        border-color: #fff;
        border-radius: 0;
    }
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: #fff;
    color: #f44336;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .1);
    border-top: 3px solid #606975;
}

/*==== /TABS ====*/

.passive {
    display: none;
    width: 100%;
    position: absolute;
    background: #4b4e4f;
    top: 100%;
    border-top: 0;
    opacity: .9;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .1);
    ul {
        margin: 0;
        list-style: none;
        li {
            float: none;
            list-style: none;
            padding: 5% 0;
            word-wrap: break-word;
            overflow-wrap: break-word;
            color: #fff;
            &:hover {
                color: #fff;
                background: rgba(54, 25, 25, .5);
            }
        }
    }
}

.active {
    position: relative;
    &:hover .passive {
        display: block;
        position: absolute;
        z-index: 9999;
    }
}

.label {
    background: #595d5f;
    cursor: pointer;
    width: 100%;
    padding: 10px 20px;
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    transition: background .1s, color .1s;
    margin-bottom: 0;
    &:active, &:hover {
        background: #595d5f;
    }
}

.container_check {
    margin-bottom: 12px;
    cursor: pointer;
    color: #606975;
    word-wrap: break-word;
    display: block;
    position: relative;
    padding-left: 20px;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
}

.container_check_price {
    color: #9da9b9;
    font-size: 10px;
    float: right!important;
    text-align: right!important;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 14px;
    width: 14px;
    background-color: #eee;
    &:after {
        position: absolute;
        display: none;
        content: "";
    }
}

.container_check:hover input~.checkmark {
    background-color: #ccc
}

.container_check input:checked~.checkmark {
    background-color: #228b94
}

.container_check input:disabled~.checkmark {
    background-color: #ccc
}

.container_check input:checked~.checkmark:after {
    display: block
}

.container_check .checkmark:after {
    left: 5px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid #fff;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.container_radio {
    margin-bottom: 12px;
    cursor: pointer;
    display: block;
    position: relative;
    padding-left: 35px;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }
}

.radiomark {
    position: absolute;
    top: 6px;
    left: 6px;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
    &:after {
        position: absolute;
        display: none;
        content: "";
    }
}

.container_radio:hover input~.radiomark {
    background-color: #ccc
}

.container_radio input:checked~.radiomark {
    background-color: #f44336
}

.container_radio input:checked~.radiomark:after {
    display: block
}

.container_radio .radiomark:after {
    top: 6px;
    left: 6px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #fff
}

.container_radio-phone {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer
    }
}

.radiomark-phone {
    position: absolute;
    top: 4px;
    left: 4px;
    height: 16px;
    width: 16px;
    background-color: #eee;
    border-radius: 50%;
    &:after {
        content: "";
        position: absolute;
        display: none
    }
}

.container_radio-phone:hover input~.radiomark-phone {
    background-color: #ccc
}

.container_radio-phone input:checked~.radiomark-phone {
    background-color: #f44336
}

.container_radio-phone input:checked~.radiomark-phone:after {
    display: block
}

.container_radio-phone .radiomark-phone:after {
    top: 4px;
    left: 4px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #fff
}

.lazy {
    height: auto;
    max-width: 100%
}

.form-control {
    border-radius: 0;
    background: #f7f7f7;
    box-shadow: none
}

/*==== PAGINATION =====*/
.pagin {
    padding-top: 60px;
    text-align: center;
    button {
        -webkit-transition: all .2s ease;
        -moz-transition: all .2s ease;
        -o-transition: all .2s ease;
        transition: all .2s ease;
        width: 40px;
        font-size: 15px;
        height: 35px;
        border: 1px solid #228b94;
        text-align: center;
        &:hover {
            background: #228b94;
            color: #fff;
        }
    }
}

.pagin_checked {
    background: #228b94;
    color: #fff;
}

.pagin_btn,
.pagin_side {
    background: #fff;
    border: #228b94;
    color: #228b94;
    cursor: pointer
}

/*==== /PAGINATION =====*/

/*==== OWL CAROUSEL =====*/
.owl-carousel {
    font-size: 10px
}

.owl-item {
    border: 1px solid #a9a9a9;
    p {
        margin: 0;
        padding-bottom: 5px;
        text-decoration: underline
    }
    &.row {
        padding-top: 15px
    }
}

.owl-prev {
    font-size: 25px!important;
    background: #a9a9a9!important;
    color: #fff!important;
    width: 15px;
    height: 100%;
    top: 0;
    position: absolute;
    display: block!important;
    border: 0 solid #000;
    margin-left: 0;
    i {
        transform: scale(1, 6);
        color: #ccc;
    }
}

.owl-next {
    font-size: 25px!important;
    background: #a9a9a9!important;
    color: #fff!important;
    width: 15px;
    height: 100%;
    top: 0;
    position: absolute;
    display: block!important;
    border: 0 solid #000;
    right: 0;
    i {
        transform: scale(1, 6);
        color: #ccc;
    }
}

/*==== /OWL CAROUSEL =====*/

/*==== DOTS ====*/
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #f44336;
    border-bottom: 16px solid #f44336;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin: 10% auto;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(360deg)
    }
}

@keyframes spin {
    0% {
        transform: rotate(0)
    }
    100% {
        transform: rotate(360deg)
    }
}

.loader-dots {
    font-size: 20px;
    position: relative;
    width: 4em;
    height: 1em;
    margin: 0 auto;
    padding-top: 1em
}

.dot {
    width: 1em;
    height: 1em;
    border-radius: .5em;
    background: #f44336;
    position: absolute;
    animation-duration: .5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite
}

.dot1, .dot2 {
    left: 0
}
.dot3 {
    left: 1.5em
}
.dot4 {
    left: 3em
}

@keyframes reveal {
    from {
        transform: scale(.001)
    }
    to {
        transform: scale(1)
    }
}

@keyframes slide {
    to {
        transform: translateX(1.5em)
    }
}

.dot1 {
    animation-name: reveal
}
.dot2, .dot3 {
    animation-name: slide
}
.dot4 {
    animation-name: reveal;
    animation-direction: reverse
}

/*==== /DOTS ====*/

/*====SELECT 2====*/
.select2-container {
    width: 100%!important;
}

.catalogue-search .select2-container {
    max-width: 300px!important;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    outline: 0;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #4b4e4f;
    color: #fff;
}

.select2-container--classic .select2-selection--single:focus {
    border: 1px solid #4b4e4f;
}

/*==== /SELECT 2 ====*/