// BLACK
$black: #000;

// WHITE
$white: #fff;

// DARK RED
$site_main_primary: #f44336;

// LIGHT CORAL
$site_main_secondary: #ee7f80;

// ALERT RED
$site_main_danger: #f08080;

// LIGHT BLUE
$site_info_primary: #228b94;

// DARK BLUE
$site_info_secondary: #0c5460;

// DARK GRAY
$site_dark_primary: #606975;

// LIGHT GRAY
$site_dark_secondary: #a9a9a9;
