.news-details {
    font-size: 10pt;
    float: right
}

.list-news__title {
    font-size: 18px;
    padding: 0 15px
}

.all_news,
.all_news:hover {
    color: #f44336
}

.all_news {
    float: right
}

.list-history li {
    padding-top: 30px
}

.list-news {
    display: flex
}

.list-news li {
    display: inline-block
}

/*NEWS STATE*/

.news-state h1 {
    font-size: 20px
}

.news-state h2 {
    color: #999;
    font-size: 10pt
}

.news-state ul {
    list-style: none
}

.news-state table {
    width: 100%!important;
    border-collapse: collapse
}

.news-state img {
    width: 50%;
    max-width: 500px;
    display: block;
    margin: 0 auto;
    border: 1px solid #8c8c8c;
    box-shadow: 6px 6px 10px 0 rgba(0, 0, 0, .1);
    padding: 10px
}

/*NEWS LIST*/

.news-block h2 {
    font-size: 1.5em;
    padding: 15px 0
}

.news-block h3 {
    font-size: 15px
}

.news-block__item {
    margin-left: 0;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .1);
    padding: 15px;
    margin-right: 15px;
    width: 100%
}

.news-block__item p {
    margin: 0;
    font-size: 12pt
}

.news-block__item h5 {
    text-transform: uppercase;
    color: #4d82cb;
    margin-top: 3%
}

.news-block__item a {
    font-size: 10pt;
    color: #000
}

.news-block__item h4 {
    color: #999;
    font-size: 10pt
}

.news-block__item img {
    width: 100%;
    border: 1px solid #8c8c8c;
    box-shadow: 6px 6px 10px 0 rgba(0, 0, 0, .1);
    padding: 10px
}

@media (max-width:992px) {
    .news-block,
    .news-block img,
    .news-block__item {
        max-width: 100%
    }
    .news-block__item .overflow {
        width: 100%;
    }
}