
.show-offers__item {
    margin-left: 0;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .1);
    padding: 15px;
    margin-right: 15px;
    width: 100%
}

.show-offers__item h4 {
    color: #999;
    font-size: 10pt;
    display: inline-block
}

.show-offers__item h2 {
    font-size: 1.2em;
    padding-bottom: 0
}

.show-offers__item h2 span {
    font-size: .75em;
    color: #606975
}

.show-offers__item h2 a {
    font-size: 1em
}

.show-offers__item h3 {
    font-size: .8em;
    color: #789
}

.show-offers__item>.color000 {
    font-size: 1.35em;
    float: right
}

.special_offers {
    padding: 15px;
    min-height: 0;
    margin-bottom: 1em
}

.special_offers h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2em;
    padding-top: .3em
}

.special_offers h3 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1em;
    float: right;
    padding-top: .7em
}

.a-blue {
    font-weight: 700;
    color: #228b94!important
}

.a-blue:hover {
    color: #a9a9a9!important
}


.offer-discount p {
    color: white;
}

.offer-discount {
    background: white;
    position: relative;
}

.offer-discount:before, .offer-discount:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    background: #eee;
}

.offer-discount:before {
    top: 0;
    right: 0;
    border-bottom: 110px solid white;
    border-right: 170px solid transparent;
    -webkit-box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
    -moz-box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
    box-shadow: -3px 3px 7px rgba(0,0,0,0.3);
}
