.profile {
    margin: 0;
    &-main {
        padding: 0;
        &-form {
            height: 100%;
            min-height: 500px;
        }
    }
    &-side {
        padding: 0 15px 0 0;
    }
}

.signin {
    margin: 0;
    padding: 0;
    width: 100%;
    &-form {
        color: #000;
        display: block;
        margin: 0 auto;
        width: 45%;
    }
}

.registration {
    &-row {
        border-bottom: 1px dashed #ddd;
        padding: 15px;
        &__title {
            font-size: 16px;
            font-weight: bold;
        }
    }
    input {
        display: inline;
    }
}

.label-required:before {
    color: red;
    content: ' *';
}

.sell {
    &-title {
        margin-bottom: 30px;
        padding: 0 15px;
    }
    &-navs {
        .nav-tabs {
            background: #fff;
            margin-bottom: 30px;
            li {
                a {
                    color: #000;
                    display: block;
                    padding: 15px;
                    &:hover {
                        color: #000;
                        text-decoration: underline;
                    }
                }
                & > a.active {
                    background: #ddd;
                    color: #fff;
                }
            }
        }
    }
    &-cooperation {
        &-title {
            font-size: 16px;
        }
        ul {
            list-style: none;
        }
    }
}

@media (min-width:992px) and (max-width:1200px) {
    .signin-form {
        width: 100%;
    }
}

@media (max-width:992px) {
    .signin-form {
        width: 100%;
    }
    .profile-form {
        padding: 20px 30px;
    }
    .profile-account {
        input, select {
            width: 100%!important;
        }
    }
    .profile-side {
        margin-bottom: 15px;
        padding: 0;
    }
}
