/*==== BASKET ====*/
.basket {
    &-header {
        padding-bottom: 15px;
        span {
            font-weight: bold;
            font-size: 22px;
            color: #000;
        }
        button {
            color: #000!important;
        }
    }
    &-table {
        display: block;
        &-thead {
            font-size: 14px;
        }
        &-tbody {
            background: #fff;
            min-height: 50px;
            .input-group {
                width: 100px;
                button {
                    border-color: #ccc;
                }
            }
        }
        .search__art {
            font-size: 0.9em;
            font-weight: 700;
            display: inline;
            color: #228b94;
        }
        .search__brand {
            font-size: 0.9em;
            font-weight: 700;
            display: inline;
            color: #000;
        }
        .search__date {
            color: #9da9b9;
            font-size: 0.7em;
        }
        .search__name {
            font-size: 0.8em;
        }
    }
    &-phone {
        display: none;
        color: gray;
    }
    &-footer {
        &-total {
            padding-bottom: 15px;
            text-align: right;
            font-weight: bold;
            font-size: 20px;
        }
        &-buttons {
            margin-bottom: 15px;
        }
    }
    &-fast {
        padding-top: 30px;
        &-phone {
            margin-bottom: 15px;
            padding: 0;
        }
        &-valid {
            margin-bottom: 15px;
            padding: 0;
            i {
                display: block;
                margin: 0 auto;
                width: 15px;
            }
        }
        &-button {
            margin-bottom: 15px;
            padding: 0;
        }
    }
}

// phone
.basket-card {
    border-bottom: 1px solid #f1f1f1;
    margin-bottom: 15px;
    &-title {
        background: #f1f1f1;
        color: #9da9b9;
        font-size: 0.7em;
        text-transform: uppercase;
        padding: 10px;
        word-break: break-word;
    }
    &-content {
        padding: 10px;
        p {
            margin: 0;
        }
        &-small {
            font-size: 0.75em;
            color: #8c8c8c;
        }
        &-medium {
            font-size: 0.9em;
        }
        .btn-outline-secondary {
            border-color: #ccc;
        }
    }
    &-close {
        padding: 10px;
        text-align: right;
    }
}

/*==== /BASKET ====*/

/*===== ORDERS ====*/

.order-success {
    &-row {
        margin-bottom: 15px;
        &-buttons {
            text-align: right;
            input {
                width: 300px;
                text-align: center;
                display: inline-block;
                margin-left: 15px;
            }
        }
    }
}

.order {
    &__header {
        margin: 0 0 15px 0;
        h1 {
            font-size: 24px;
        }
        &-total {
            float: right;
        }
    }
    &__basket {
        display: none;
    }
    &__navs {
        .nav-tabs {
            background: #fff;
            box-shadow: none;
            padding-bottom: 30px;
            a {
                transition: all .2s linear;
                background: #fff;
                color: #a9a9a9;
                padding: 10px 30px;
                border-radius: 25px;
                margin-right: 15px;
                display: inline;
                &.active {
                    background: #ee7f80;
                    color: #fff;
                }
                &:hover {
                    text-decoration: none;
                    box-shadow: 0 1px 3px #000;
                }
            }
            li {
                display: flex;
            }
        }
    }
    &__tabs {
        .label {
            background: #fff;
            color: #a9a9a9;
            border-radius: 25px;
            margin-right: 15px;
            &:hover {
                background: #fff;
                color: #ee7f80;
            }
        }
        .input:checked+.label {
            background: #ee7f80;
            color: #fff;
        }
        .table-order {
            margin-bottom: 15px;
            .row {
                margin-bottom: 15px;
            }
        }
    }
}

/*===== /ORDERS ====*/

.btn-basket {
    width: 20px;
    height: 20px;
    font-size: 11px;
    font-weight: 700;
    border: none;
    border-radius: .25rem;
    padding: 0;
    background: #f7f7f7;
    color: #a9a9a9;
    &:hover {
        background: #4b4e4f;
        color: #fff;
    }
}

/*===== NEW ORDERS ====*/
.orders {
    box-shadow: 0 0 40px 0 rgba(0,0,0,.11);
    font-size: 16px;
    width: 100%;
    padding: 30px;
    h1 {
        font-size: 24px;
    }
    &-user {
        list-style: none;
        border: 1px solid #ddd;
        padding: 15px;
        margin-bottom: 30px;
        &__title {
            color: #000;
            font-size: 18px;
            font-weight: 700;
            margin-bottom: 10px;
            margin-left: 0;
            display: inline;
        }
        &__toggle {
            float: right;
            cursor: pointer;
        }
        &__item {
            margin: 10px 0;
            padding-top: 10px;
            border-top: 1px dashed #ddd;
            a, a:not([href]):not([tabindex]) {
                color: #55bae6;
                cursor: pointer;
                padding-left: 15px;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    &-row {
        display: flex;
        width: 100%;
    }
    &-col {
        display: inline-block;
        width: 33.33%;
        &-wide {
            width: 66.66%;
            padding-right: 30px;
        }
    }
    &-container {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    &-header {
        display: block;
        width: 100%;
        margin-bottom: 15px;
        &__round {
            border: 1px solid #ddd;
            border-radius: 25px;
            height: 40px;
            width: 40px;
            line-height: 30px;
            color: #000;
            padding: 5px;
            text-align: center;
            display: inline-block;
            &-fill {
                background: #55bae6;
                border-color: #55bae6;
                color: #fff;
            }
        }
        &__title {
            font-size: 20px;
            line-height: 40px;
            margin-left: 15px;
            display: inline;
        }
        span {
            font-size: 20px;
        }
        a {
            font-size: 20px;
            cursor: pointer;
            margin-left: 15px;
            text-decoration: underline!important;
            color: #55bae6!important;
            &:hover {
                color: #f44336!important;
            }
        }
    }
    &-title {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        span {
            margin-left: 30px;
        }
    }
    &-block {
        border: 1px solid #ddd;
        display: block;
        margin-bottom: 30px;
        padding: 20px;
        width: 100%;
        &-row {
            display: flex;
            flex-wrap: wrap;
            margin: 10px 0;
            width: 100%;
            &-title {
                width: 35%;
            }
            &-content {
                width: 65%;
            }
            &-container {
                width: 100%;
            }
            &-hidden {
                display: none;
                margin: 20px 0;
                width: 100%;
            }
            &-display {
                display: block!important;
            }
            &__label {
                width: 100%;
            }
            &__input {
                width: 100%;
                vertical-align: middle;
                border: 1px solid #dadada;
                border-radius: 5px;
                padding: 10px;
                &-min {
                    width: 30%;
                    margin-right: 15px;
                    margin-top: 15px;
                }
            }
            &__radio {
                cursor: pointer;
                display: block;
                position: relative;
                padding-left: 35px;
                user-select: none;
                width: 100%;
                &:hover {
                    input~.radio-mark {
                        background-color: #ccc;
                    }
                }
                input {
                    position: absolute;
                    opacity: 0;
                    cursor: pointer;
                    &:checked~.radio-mark {
                        background-color: #f44336;
                        &:after {
                            display: block;
                        }
                    }
                    &:checked~.orders-block-row__radio-hidden {
                        display: block;
                    }
                }
                .radio-mark {
                    position: absolute;
                    top: 4px;
                    left: 4px;
                    height: 16px;
                    width: 16px;
                    line-height: 16px;
                    background-color: #eee;
                    border-radius: 50%;
                    &:after {
                        background: #fff;
                        content: "";
                        display: none;
                        position: absolute;
                        top: 5px;
                        left: 5px;
                        width: 6px;
                        height: 6px;
                        border-radius: 50%;
                    }
                }
            }
        }
    }
    &-footer {
        display: flex;
        width: 100%;
        &-about {
            width: 65%;
            span {
                color: #333;
                font-size: 14px;
            }
        }
        &-button {
            text-align: right;
            width: 35%;
            button {
                background: #55bae6;
                border: 1px solid #17a2b8;
                border-radius: .2rem;
                cursor: pointer;
                color: #fff;
                padding: 10px 30px;
                &:hover {
                    background: #228b94;
                }
                &:disabled {
                    background: #e9e9e9;
                    color: #606975;
                    border-color: #ccc;
                    cursor: not-allowed;
                }
            }
        }
    }
}

.cart-table {
    background: #f7f7f7;
    padding: 15px;
    border: 1px solid #ddd;
    &-row {
        display: flex;
        width: 100%;
        padding: 10px 0;
        &-offset {
            border: unset;
            .cart-table-cell {
                font-size: 18px!important;
            }
        }
    }
    &-cell {
        display: inline-block;
        font-size: 14px;
        &__photo {
            width: 30%;
            padding-right: 10px;
            img {
                width: 100%;
            }
        }
        &__text {
            width: 70%;
        }
        &__name {
            display: block;
            width: 100%;
        }
        &__summ {
            display: block;
            width: 100%;
        }
        &__amount {
            float: left;
        }
        &__summary {
            float: right;
        }
        &__label {
            font-weight: bold;
            width: 50%;
        }
        &__price {
            text-align: right;
            width: 50%;
        }
    }
    &-head {
        background: #f1f1f1;
        font-weight: bold;
    }
    &-body {
        //
    }
    &-foot {
        padding: 15px 0;
        border-top: 1px solid #ddd;
        margin-top: 15px;
    }
}

.proposed {
    border-top: 3px solid #17a2b8;
    margin-top: 15px;
    filter: grayscale(100%);
    &:hover {
        filter: grayscale(0);
        .proposed-title {
            filter: grayscale(0);
        }
        button {
            filter: grayscale(0);
        }
        img {
            filter: grayscale(0);
        }
    }
    &-title {
        background: #17a2b8;
        color: #fff;
        display: inline-block;
        font-size: 16px;
        padding: 5px;
        filter: grayscale(100%);
    }
    &-card {
        display: inline-block;
        width: 100%;
        padding: 15px;
        &-row {
            align-items: center;
            display: flex;
            width: 100%;
            margin-bottom: 15px;
        }
        &__image {
            width: 100%;
            height: 100px;
            img {
                transition: all .3s linear;
                display: block;
                margin: 0 auto;
                max-width: 100px;
                max-height: 100px;
                filter: grayscale(100%);
            }
        }
        &__text {
            font-size: 12px;
            height: 35px;
            overflow: hidden;
            a {
                text-transform: uppercase;
            }
        }
        &__price {
            text-align: left;
            font-weight: bold;
            width: 50%;
        }
        &__buy {
            text-align: right;
            width: 50%;
            button {
                transition: all .3s linear;
                filter: grayscale(100%);
            }
        }
    }
}

/*===== /NEW ORDERS ====*/

@media (max-width: 992px) {
    .orders {
        &-row {
            display: block;
        }
        &-col {
            width: 100%;
            &-wide {
                width: 100%;
            }
        }
    }
    .cart-table {
        margin-top: 30px;
    }
}

/*==== PHONE ====*/
@media (max-width: 768px) {
    .basket-phone {
        display: block;
    }
    .basket-table {
        display: none;
    }
    .orders {
        padding: 30px 10px;
        &-title {
            width: 100%;
            display: none;
        }
        &-block {
            margin-bottom: 10px;
            width: 100%;
        }
        &-footer {
            flex-direction: column-reverse;
            width: 100%;
            &-about {
                width: 100%;
            }
            &-button {
                width: 100%;
                button {
                    margin-bottom: 15px;
                    width: 100%;
                }
            }
        }
    }
}

/*==== /PHONE ====*/

/*==== PAD ====*/
@media (min-width: 768px) and (max-width: 992px) {
    .basket-phone {
        display: block;
    }
    .basket-table {
        display: none;
    }
    .orders {
        padding: 30px 10px;
        &-title {
            width: 100%;
            display: none;
        }
        &-block {
            margin-bottom: 10px;
            width: 100%;
        }
        &-footer {
            flex-direction: column-reverse;
            width: 100%;
            &-about {
                width: 100%;
            }
            &-button {
                width: 100%;
                button {
                    margin-bottom: 15px;
                    width: 100%;
                }
            }
        }
    }
}

/*==== /PAD ====*/
