/*==== BASKET ====*/
.basket {
    &__header {
        padding-bottom: 15px;
        span {
            font-weight: bold;
            font-size: 22px;
            color: #000;
        }
    }
    &__table {
        display: block;
        &-thead {
            font-size: 14px;
        }
        &-tbody {
            background: #fff;
            min-height: 50px;
            .input-group {
                width: 100px;
                button {
                    border-color: #ccc;
                }
            }
        }
        .search__art {
            font-size: 0.9em;
            font-weight: 700;
            display: inline;
            color: #228b94;
        }
        .search__brand {
            font-size: 0.9em;
            font-weight: 700;
            display: inline;
            color: #000;
        }
        .search__date {
            color: #9da9b9;
            font-size: 0.7em;
        }
        .search__name {
            font-size: 0.8em;
        }
    }
    &__phone {
        display: none;
        color: gray;
    }
    &__footer {
        &-total {
            padding-bottom: 15px;
            text-align: right;
            font-weight: bold;
            font-size: 20px;
        }
        &-butons {
            button {
                width: auto;
            }
        }
    }
    &__fast {
        padding-top: 30px;
    }
}

.basket-card {
    &__title {
        background: #f1f1f1;
        color: #9da9b9;
        font-size: 0.7em;
        text-transform: uppercase;
        padding: 10px;
        word-break: break-word;
    }
    &__content {
        padding: 10px;
        p {
            margin: 0;
        }
        &-small {
            font-size: 0.75em;
            color: #8c8c8c;
        }
        &-medium {
            font-size: 0.9em;
        }
        .btn-outline-secondary {
            border-color: #ccc;
        }
    }
    &__close {
        padding: 10px;
        text-align: right;
    }
}

/*==== /BASKET ====*/

/*===== ORDERS ====*/

.order {
    &__header {
        margin: 0 0 15px 0;
        h1 {
            font-size: 24px;
        }
        &-total {
            float: right;
        }
    }
    &__basket {
        display: none;
    }
    &__navs {
        .nav-tabs {
            background: #fff;
            box-shadow: none;
            padding-bottom: 30px;
            a {
                background: #fff;
                color: #a9a9a9;
                padding: 10px;
                border-radius: 25px;
                margin-right: 15px;
                display: inline;
                &:hover {
                    background: #fff;
                    color: #ee7f80;
                }
            }
            li {
                display: flex;
            }
            .active {
                background: #ee7f80;
                color: #fff;
            }
        }
    }
    &__tabs {
        .label {
            background: #fff;
            color: #a9a9a9;
            border-radius: 25px;
            margin-right: 15px;
            &:hover {
                background: #fff;
                color: #ee7f80;
            }
        }
        .input:checked+.label {
            background: #ee7f80;
            color: #fff;
        }
        .table-order {
            margin-bottom: 15px;
            .row {
                margin-bottom: 15px;
            }
        }
    }
}

/*===== /ORDERS ====*/

.btn-basket {
    width: 20px;
    height: 20px;
    font-size: 11px;
    font-weight: 700;
    border: none;
    border-radius: .25rem;
    padding: 0;
    background: #f7f7f7;
    color: #a9a9a9;
    &:hover {
        background: #4b4e4f;
        color: #fff;
    }
}


