$white: #fff;
$black: #000;
$cars-primary: #228b94;
$cars-disabled: #989898;
$cars-default: #ebebeb;
$cars-delimiter: #ececec;
$cars-hover: #f5f5f5;

.fixed-block {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.cars {
    background: $white;
    &-nav {
        background: $white;
        color: $white;
        display: flex;
        flex-wrap: nowrap;
        justify-content: start;
        &__item {
            background: url("/images/icons/dropdown.svg") calc(100% - 20px) center no-repeat $white;
            color: $black;
            cursor: pointer;
            padding: 20px 65px 20px 30px;
            position: relative;
            overflow: hidden;
            white-space: nowrap;
            transition: .3s;
            text-overflow: ellipsis;
            &:hover {
                filter: brightness(90%);
            }
            &:not(:first-child) {
                &:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 19px;
                    bottom: 19px;
                    width: 1px;
                    background: $cars-delimiter;
                }
            }
            &-checked {
                background: url("/images/icons/dropdown-red.svg") calc(100% - 20px) center no-repeat #a9bcc6;
                color: $white;
                &:before {
                    content: none!important;
                }
            }
            &-active {
                background: url("/images/icons/dropdown-black.svg") calc(100% - 20px) center no-repeat #238795;
                color: $white;
                &:before {
                    content: none!important;
                }
            }
            &-mob {
                display: none;
            }
            &-hidden {
                display: none;
            }
            &-disabled {
                color: $cars-disabled;
                cursor: default;
                &:hover {
                    filter: unset;
                }
            }
        }
    }
    &-tab {
        &__block {
            border-top: 3px solid #333;
            display: none;
            flex-wrap: wrap;
            &-active {
                display: flex;
            }
            &-item {
                background: $white;
                border: 1px solid $cars-default;
                color: #000;
                cursor: pointer;
                padding: 15px;
                transition: .3s;
                width: calc(12.5%);
                &:hover {
                    //border-color: #333;
                    filter: brightness(90%);
                }
                &-body {
                    padding: 10px;
                    width: calc(25%);
                    .bodyc {
                        &-head {
                            display: flex;
                            width: 100%;
                        }
                        &-content {
                            display: flex;
                            width: 100%;
                            margin-top: 15px;
                        }
                        &__title {
                            width: 80%;
                            color: #000;
                            font-size: 14px;
                            position: relative;
                            overflow: hidden;
                            white-space: normal;
                            text-overflow: ellipsis;
                            padding-right: 15px;
                        }
                        &__descr {
                            width: 60%;
                            color: #9da9b9;
                            font-size: 11px;
                            position: relative;
                            overflow: hidden;
                            white-space: normal;
                            text-overflow: ellipsis;
                            padding-right: 15px;
                        }
                        &__type {
                            width: 20%;
                            img {
                                width: 100%;
                            }
                        }
                        &__image {
                            width: 40%;
                            img {
                                width: 100%;
                            }
                        }
                    }
                }
                &-modif {
                    padding: 10px;
                    width: calc(25%);
                    a {
                        color: $black;
                        &:hover {
                            text-decoration: none;
                        }
                    }
                    table {
                        font-size: 11px;
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .cars {
        &-nav {
            display: none;
            &__item {
                padding: 15px 65px 15px 15px;
                &:not(:last-child) {
                    border-bottom: 1px solid $cars-default;
                }
                &-mob {
                    display: block;
                }
                &-hidden {
                    display: none;
                }
            }
        }
        &-tab {
            &__block {
                max-height: 40vh;
                overflow-x: hidden;
                overflow-y: auto;
                border-bottom: 3px solid $cars-primary;
                border-top: none;
                &-item {
                    width: 100%;
                }
            }
        }
    }
}

.cars-garage {
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, .11);
    margin: 30px 0;
    background: $white;
    &-box {
        display: block;
        &__title {
            padding: 15px;
            color: $black;
            font-weight: bold;
        }
        &__add {
            padding: 15px;
            text-align: right;
            color: $cars-primary;
        }
        &-car {
            padding: 15px;
            &__title {
                color: $black;
            }
            &__text {
                color: $cars-disabled;
            }
        }
    }
    &-list {
        background: $white;
        border-top: 3px solid $cars-primary;
        display: flex;
        flex-wrap: wrap;
        &-item {
            border-bottom: 1px solid $cars-default;
            border-right: 1px solid $cars-default;
            border-top: 1px solid $cars-default;
            display: flex;
            padding: 10px;
            width: 25%;
            &-car {
                &:hover {
                    text-decoration: none;
                }
                &__title {
                    color: $black;
                }
                &__text {
                    color: $cars-primary;
                }
            }
            &__delete {
                color: $cars-primary;
                width: 50px;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}