/*==== NEWS STATE ====*/
.news-state {
    h1 {
        font-size: 20px;
    }
    h2 {
        color: #999;
        font-size: 10pt
    }
    ul {
        list-style: none
    }
    table {
        width: 100%!important;
        border-collapse: collapse
    }
    img {
        width: 50%;
        max-width: 500px;
        display: block;
        margin: 0 auto;
        border: 1px solid #8c8c8c;
        box-shadow: 6px 6px 10px 0 rgba(0, 0, 0, .1);
        padding: 10px
    }
}

/*==== /NEWS STATE ====*/

/*==== NEWS LIST ====*/
.news-block {
    h2 {
        font-size: 1.5em;
        padding: 15px 0;
    }
    h3 {
        font-size: 15px
    }
    &__item {
        margin-left: 0;
        margin-bottom: 15px;
        border-bottom: 1px solid #eee;
        background: #fff;
        box-shadow: 0 1px 10px #ccc;
        padding: 15px;
        margin-right: 15px;
        width: 100%;
        a {
            font-size: 10pt;
            color: #000;
        }
        h4 {
            color: #999;
            font-size: 10pt;
        }
        h5 {
            text-transform: uppercase;
            color: #4d82cb;
            margin-top: 3%;
        }
        img {
            width: 100%;
            border: 1px solid #8c8c8c;
            box-shadow: 6px 6px 10px 0 rgba(0, 0, 0, .1);
            padding: 10px;
        }
        p {
            margin: 0;
            font-size: 12pt;
        }
    }
}

/*==== /NEWS LIST ====*/

/*==== PHONE ====*/
@media (max-width:992px) {
    .news-block,
    .news-block img,
    .news-block__item {
        max-width: 100%;
    }

    .news-block__item .overflow {
        width: 100%;
    }
}

/*==== /PHONE ====*/
