.main {
    margin-top: 15px;
}

.backdrop {
    background: rgba(0, 0, 0, 0.7);
    height: 100%;
    left: -100%;
    opacity: 0;
    position: fixed;
    top: 0;
    transition: opacity 0.3s ease;
    width: 100%;
    z-index: 100;
    &-show {
        left: 0;
        opacity: 1;
    }
}

.page-404 {
    h1 {
        color: #606975;
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 15px;
    }
    h2 {
        color: #a9a9a9;
        font-size: 24px;
    }
    ol {
        padding-left: 30px;
    }
    ol > li {
        font-weight: bold;
        margin-top: 15px;
    }
    ul > li {
        display: inline;
    }
    ul > li > a {
        font-size: 16px;
    }
}

.garage-404 {
    font-size: 16px;
    &__title {
        display: block;
        font-weight: bold;
        margin-bottom: 15px;
        text-transform: uppercase;
    }
    &__text {
        display: block;
        margin-bottom: 15px;
    }
    &__link {
        color: #228b94;
        display: block;
        &:hover {
            color: #000;
        }
    }
}

.nfound {
    margin: 30px 0;
    h2 {
        color: #606975;
        font-size: 22px;
        font-weight: bold;
        text-transform: uppercase;
    }
    h3 {
        color: #000;
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
    }
    img {
        display: block;
        margin: 0 auto;
        width: 150px;
    }
}

.faq {
    box-shadow: 0.5px 0.866px 2px 0 #cfcfcf;
    overflow: hidden;
    &-title {
        font-size: 20px;
        font-weight: bold;
    }
    &-tab {
        width: 100%;
        input[type='checkbox'] {
            opacity: 0;
            position: absolute;
            z-index: -1;
        }
        label {
            transition: .5s ease-in-out;
        }
        input[type="checkbox"]:checked ~ .faq-content {
            display: block;
        }
        input[type="checkbox"]:checked ~ .faq-label {
            &:after {
                content: "-";
            }
        }
        .request {
            min-height: unset!important;
        }
    }
    &-label {
        background: #55bae6;
        border-top: 1px solid white;
        color: #fff;
        cursor: pointer;
        display: block;
        font-size: 16px;
        font-weight: bold;
        margin: 0;
        padding: 10px;
        &:hover {
            background: #17a2b8;
        }
        &:after {
            content: "+";
            float: right;
        }
    }
    &-content {
        display: none;
        font-size: 14px;
        padding: 10px;
        transition: .5s ease-in-out;
    }
}

.request {
    min-height: 397px;
    padding: 10px;
    &-row, &-display {
        display: flex;
        margin-bottom: 15px;
        &-mob {
            display: none;
            a {
                display: flex;
                width: 100%;
            }
        }
        textarea {
            height: 70px;
        }
        input[type='text'], input[type='tel'], textarea {
            border: 1px solid #ccc;
            padding: 5px;
            width: 100%;
        }
        input[type='submit'] {
            background: #36cd76;
            border: 1px solid #4f996c;
            border-radius: .2rem;
            color: #fff;
            cursor: pointer;
            padding: 5px;
            text-align: center;
            width: 100%;
            &:hover {
                background: #4f996c;
            }
        }
        &__image {
            height: 40px;
            width: 50px;
            img {
                height: 100%;
                width: 100%;
            }
            &-socials {
                padding: 10px 5px;
                width: 200px;
            }
        }
        &__title {
            font-size: 14px;
            font-weight: bold;
            margin-left: 10px;
            text-align: right;
            width: 100%;
        }
        &__text {
            color: #606975;
            font-size: 11px;
            text-align: center;
            a, a:not([href]):not([tabindex]) {
                color: #0ca9ee;
                cursor: pointer;
                &:hover {
                    color: #17a2b8;
                }
            }
        }
    }
    &-mob {
        display: none;
    }
}

.reviews-list {
    &-title {
        color: #606975;
        display: block;
        font-weight: 700;
        text-transform: uppercase;
    }
    &__item {
        color: #606975;
        font-size: 14px;
        margin-top: 5px;
        a {
            color: #606975;
        }
        i {
            color: #0ca9ee;
            margin-right: 5px;
        }
    }
}

.seo-block {
    margin: 15px;
    position: relative;
    &-btn {
        background: transparent;
        border: none;
        color: #606975;
        cursor: pointer;
        float: right;
        font-size: 14px;
        margin-top: 15px;
        text-align: right;
        text-decoration: underline;
        text-transform: uppercase;
    }
    &-content {
        color: #606975;
        font-size: 14px;
        line-height: 21px;
        max-height: 120px;
        overflow: hidden;
        h2 {
            color: #606975;
            font-size: 24px;
            font-weight: 400;
            line-height: 21px;
            margin: 20px 0 10px;
        }
        ul, ol {
            padding-left: 20px;
        }
        p {
            margin: 30px 0;
        }
        &.full {
            max-height: unset;
            & ~ button {
                display: none;
            }
            &:after {
                height: 0;
            }
        }
        &:after {
            background: linear-gradient(180deg, hsla(0,0%,95.3%,0) 0, #fff 100%);
            bottom: 0;
            content: "";
            height: 70px;
            left: 0;
            position: absolute;
            width: 100%;
        }
    }
}

.span-grey {
    color: #606975;
    font-weight: bold;
}

.span-dark {
    color: #606975;
    float: left;
    font-size: 12px;
    font-weight: 700;
    &-red {
        color: #f44336;
        font-weight: bold;
    }
}

.span-red {
    color: #f08080!important;
    font-weight: 700!important;
}

.span-green {
    color: #7cc576!important;
    font-weight: 700!important;
}

.span-outline {
    color: #f08080!important;
    text-decoration: line-through;
}

.btn-danger {
    background: #f08080;
    border-color: #f08080;
}

.bold {
    font-weight: 700;
}

.show {
    display: block;
}

.none {
    display: none!important;
}

.dblock {
    display: block!important;
}

.dvisibility {
    visibility: visible;
}

.dvisibility0 {
    height: 0;
    visibility: hidden;
}

.dflex {
    display: flex;
}

.pointer {
    cursor: pointer;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.mar0 {
    margin: 0;
}

.pad0 {
    padding: 0;
}

.float-right {
    float: right;
}

.h0 {
    height: 0!important;
}

.wdt100 {
    width: 100%;
}

.accept {
    color: #228b94;
}

.non_accept {
    color: #ee7f80;
}

.bg-danger {
    background: #f44336!important;
}

.bg-success {
    background: #8fbc8f!important;
}

.bg-warning {
    background: #ffffe0!important;
}

.required_input {
    border: 1px solid #ee7f80;
    box-shadow: 0 0 5px #ee7f80;
}

.table-bordered {
    border: 1px solid #000;
    border-top: none;
}

.label:active {
    background: #fff;
    color: #ee7f80;
}

.dnone {
    display: none;
    opacity: 0;
}

.content {
    background: #fff;
    box-shadow: 0 1px 4px #ccc;
    padding: 30px;
    width: 100%;
}

.seo-auto {
    display: block;
    &-title {
        color: #228b94;
        display: block;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
    }
    &-content {
        display: block;
    }
    &-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        margin-bottom: 15px;
        margin-top: 15px;
        &__item {
            margin: 15px;
            width: calc(25% - 30px);
            a {
                color: #000;
                font-size: 15px;
                font-weight: 400;
            }
        }
    }
}

.content-auto {
    background: #fff;
    box-shadow: 0 1px 10px #ccc;
    margin-top: 30px;
    padding: 30px;
    width: 100%;
    h1 {
        font-weight: 600;
        padding-left: 15px;
    }
    .title-b {
        color: #228b94;
        display: block;
        font-weight: bold;
        margin-bottom: 2em;
        text-align: center;
        text-transform: uppercase;
    }
    &-car {
        margin-top: 15px;
        padding: 15px;
        width: auto;
    }
}

.breadcrumbs {
    background: #fff;
    box-shadow: 0 1px 4px #ccc;
    margin-bottom: 15px;
    min-height: 0;
    overflow: auto;
    padding: 10px 15px;
    white-space: nowrap;
    width: 100%;
    word-wrap: break-word;
    a {
        color: #000;
    }
}

.hidden-list-more {
    color: #228b94;
    font-size: 16px;
    margin-top: 10px;
    &:hover {
        text-decoration: underline;
    }
}

.cat-products {
    &-bread {
        display: block;
        font-size: 14px;
        height: 30px;
        margin: 0 15px 15px;
        overflow: auto;
        padding: 0;
        white-space: nowrap;
        word-wrap: break-word;
        &__item {
            display: inline;
            a {
                color: #ccc;
                &:hover {
                    color: #606975;
                }
            }
            i, span {
                color: #ddd;
                margin: 0 10px;
            }
        }
    }
    &-cars {
        box-shadow: 0 1px 4px #ccc;
        margin-bottom: 30px;
    }
    &-count {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        margin: 10px;
        span {
            font-size: 16px;
            margin-left: 15px;
            margin-top: 15px;
        }
        a {
            background: #eee;
            border: 1px solid #606975;
            color: #606975;
            font-size: 13px;
            margin-left: 15px;
            margin-top: 15px;
        }
        i {
            color: #228b94;
        }
    }
    &-set {
        align-items: center;
        display: flex;
        flex-wrap: nowrap;
        justify-content: end;
        margin: 10px;
        &-filter {
            cursor: pointer;
            display: none;
            .set-filter {
                align-items: center;
                border: 1px solid darkgray;
                border-radius: .25em;
                color: #000;
                display: flex;
                flex-wrap: nowrap;
                font-size: 12px;
                height: 40px;
                justify-content: space-between;
                padding: 0 15px;
                &__image {
                    max-height: 30px;
                    max-width: 30px;
                    img {
                        height: 100%;
                        width: 100%;
                    }
                }
                &__text {
                    color: #000;
                    margin: 0 15px;
                }
                &__count {
                    span {
                        background: gray;
                        border-radius: 1em;
                        color: #fff;
                        display: block;
                        font-size: 10px;
                        height: 15px;
                        text-align: center;
                        width: 15px;
                    }
                }
            }
        }
        &-sort {
            margin-left: 15px;
            select {
                border: 1px solid darkgray;
                border-radius: .25em;
                color: #000;
                font-size: 12px;
                height: 40px;
                padding: 0 15px;
            }
        }
    }
    &-title {
        margin: 15px 0;
        h1 {
            font-size: 24px;
            font-weight: bold;
            margin: 0;
            text-transform: uppercase;
        }
    }
    &-pagination {
        margin: 0 15px;
        nav {
            display: block;
            margin: 2em auto 0 auto;
        }
    }
}

.special-offers {
    &-header {
        margin-bottom: 1em;
        min-height: 0;
        padding: 15px;
        h2 {
            font-size: 1.2em;
            font-weight: 700;
            padding-top: .3em;
            text-transform: uppercase;
        }
        h3 {
            float: right;
            font-size: 1em;
            font-weight: 700;
            padding-top: .7em;
            text-transform: uppercase;
        }
    }
    &-item {
        background: #fff;
        border-bottom: 1px solid #eee;
        box-shadow: 0 1px 10px #ccc;
        margin-bottom: 15px;
        margin-left: 0;
        margin-right: 15px;
        padding: 15px;
        width: 100%;
        &__date {
            color: darkgray;
            font-size: 11px;
        }
        &__name {
            font-size: .8em;
            color: #a9a9a9;
            a {
                color: #228b94;
                font-size: 16px;
                span {
                    color: #606975;
                    font-size: 14px;
                }
            }
        }
        &__descr {
            color: #999;
            font-size: 14px;
        }
        &__link {
            color: #228b94;
            font-size: 14px;
            font-weight: bold;
        }
        &__info {
            color: #228b94;
            cursor: pointer;
            span {
                color: #228b94;
            }
        }
        &__bell {
            color: lightcoral;
            float: right;
            margin-left: 10px;
        }
        &-eco {
            color: #606975;
            font-weight: bold;
            &__text {
                float: right;
                font-size: 14px;
            }
            &__number {
                float: right;
                font-size: 18px;
            }
        }
        &-discount {
            background: #fff;
            position: relative;
            p {
                color: #fff;
            }
            &:after {
                background: #eee;
                content: "";
                height: 0;
                position: absolute;
                width: 0;
            }
            &:before {
                background: #eee;
                border-bottom: 110px solid #fff;
                border-right: 170px solid transparent;
                box-shadow: -3px 3px 7px rgba(0, 0, 0, 0.3);
                content: "";
                height: 0;
                position: absolute;
                right: 0;
                top: 0;
                width: 0;
            }
        }
    }
}

.contacts {
    cursor: pointer;
    ul {
        list-style: none;
        li {
            padding-bottom: 30px;
            span {
                font-size: 12px;
            }
            .fas {
                text-align: center;
                width: 15px;
            }
        }
    }
}

.tool-status {
    background: #f44336;
    border: 1px solid;
    border-radius: 30px;
    color: #fff;
    display: block;
    font-size: 12px;
    height: 20px;
    left: 60%;
    position: relative;
    text-align: center;
    top: -4px;
    width: 20px;
    z-index: 99;
    &-hidden {
        display: none;
        position: unset;
        &.show {
            display: block!important;
            position: unset;
        }
    }
    &-contain {
        display: block;
        height: 0;
    }
}

.header-nav {
    background: #f44336;
    position: relative;
    z-index: 999;
    &-hide {
        display: none;
        height: auto;
        left: 15px;
        position: absolute;
        top: 45px;
        width: 100%;
        z-index: 999999;
    }
    &__ul {
        align-items: flex-start;
        display: flex;
        height: 100%;
        justify-content: start;
        list-style: none;
        margin: 0;
        width: 100%;
    }
    &__li {
        align-items: center;
        color: #fff;
        cursor: pointer;
        display: flex;
        font-size: 12px;
        font-weight: 700;
        height: 60px;
        margin-left: -1px;
        min-height: 50px;
        padding: 10px;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        &:hover {
            background: rgba(200, 67, 54, 1);
            color: #fff;
            transition: all .3s ease;
        }
        &:not(:first-child) {
            &:before {
                background: rgba(255, 255, 255, 0.3);
                bottom: 10px;
                content: '';
                left: 0;
                position: absolute;
                top: 10px;
                width: 1px;
            }
        }
        a {
            color: #fff;
            &:hover {
                text-decoration: none;
            }
        }
        &-active {
            background: #fff!important;
            a {
                color: #f44336!important;
            }
            &:hover {
                background: #fff!important;
                a {
                    color: #f44336!important;
                }
            }
        }
    }
}

.content-nav {
    background: #fff;
    box-shadow: 0 3px 3px #000;
    border-top: none;
    height: auto;
    padding: 0;
    z-index: 999999;
    &__content {
        margin-top: 15px;
    }
    &__footer {
        background: #f1f1f1;
        padding: 15px;
        a {
            color: #228b94;
            display: block;
            text-align: right;
        }
    }
    &__header {
        a {
            color: #ee7f80;
            display: block;
            font-size: 24px;
            padding-bottom: 15px;
        }
    }
    &__content {
        border: none;
    }
}

.fixed {
    background: #f1f1f1;
    box-shadow: 0 0 4px 0 #000;
    color: #fff;
    height: 60px;
    left: 0;
    margin: 0;
    position: fixed;
    width: 100%;
    z-index: 99999999;
    &-main {
        display: flex;
        height: inherit;
        padding-top: 10px;
        width: 100%;
        &__nav {
            display: block;
            position: relative;
            text-align: center;
            &-btn {
                background: #4b4e4f;
                border-radius: 5px;
                color: #fff;
                height: 40px;
                opacity: 0.9;
                padding: 5px;
                width: 40px;
                img {
                    width: 100%;
                }
                &:hover {
                    opacity: 0.5;
                }
            }
        }
        &__search {
            input {
                border-radius: .25rem!important;
                border-right: none;
                box-shadow: none;
                line-height: 0;
                margin-right: -41px;
            }
        }
        &__basket {
            display: block;
            text-align: center;
            img {
                width: 100%;
            }
            &-btn {
                background: #4b4e4f;
                border-radius: 5px;
                color: #fff;
                height: 40px;
                opacity: 0.9;
                padding: 5px;
                width: 40px;
                img {
                    width: 100%;
                }
                &:hover {
                    opacity: 0.5;
                }
            }
        }
    }
    &.hidden {
        display: none;
    }
}

.fixed-nav {
    background: #2d8bfa;
    bottom: 0;
    color: #fff;
    display: none;
    flex-wrap: nowrap;
    height: 80px;
    justify-content: space-between;
    left: 0;
    padding: 15px;
    position: fixed;
    width: 100%;
    z-index: 100;
    &-item {
        width: 50px;
        &__image {
            display: block;
            height: 30px;
            margin: 0 auto;
            width: 30px;
        }
        &__text {
            display: block;
            font-size: 12px;
            text-align: center;
            width: 100%;
        }
    }
}

.cars-loader {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 365px;
    overflow: hidden;
}

.tree-heads {
    display: block;
    &-title {
        font-size: 24px;
        margin-bottom: 30px;
        padding: 0;
    }
    &__item {
        border-bottom: 1px solid #ccc;
        display: block;
        label {
            cursor: pointer;
            margin: 0;
            width: 100%;
        }
        input[type="checkbox"] {
            display: none;
            &:checked ~ div {
                display: block!important;
            }
            &:checked ~ label .tree-heads__item-header {
                background: #ccc!important;
            }
        }
        &-header {
            align-items: center;
            background: #fff!important;
            display: flex;
            padding: 15px;
            &:hover {
                filter: brightness(0.9);
                img {
                    transform: scale(1.1);
                }
            }
        }
        &-image {
            align-items: center;
            display: block;
            height: 120px;
            text-align: right;
            width: 20%;
            img {
                height: 100%;
                object-fit: contain;
                transition: all 1s ease-out;
                user-select: none;
                width: 100%;
            }
        }
        &-text {
            padding-right: 50px;
            text-align: left;
            transition: .5s ease-in-out;
            width: 80%;
        }
        &-title {
            color: #000;
            display: block;
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 10px;
            text-transform: uppercase;
        }
        &-descr {
            color: #292929;
            display: -webkit-box;
            display: block;
            font-size: 14px;
            font-weight: 400;
            overflow: hidden;
            text-transform: uppercase;
            -webkit-box-orient: vertical;
        }
    }
}

.tree-cat {
    &__item {
        margin-bottom: 10px;
        &-title {
            background: #ddd;
            color: #000;
            font-size: 14px;
            font-weight: 500;
            margin-bottom: 10px;
            padding: 15px;
            a, span {
                color: #707883;
                text-transform: uppercase;
            }
        }
    }
}

.tree-group {
    align-items: baseline;
    display: flex;
    flex-wrap: wrap;
    &__item {
        margin-bottom: 15px;
        min-height: 80px;
        padding: 0 10px;
        width: calc(100% / 7);
        &-image {
            img {
                display: block;
                margin: 0 auto;
                width: 100%;
            }
        }
        &-text {
            color: #000;
            font-size: 13px;
            font-weight: 500;
            text-align: center;
            a {
                color: #000;
                word-wrap: break-word;
            }
        }
    }
}

.tree-block {
    display: flex;
    flex-wrap: wrap;
    margin: 15px 0;
    &__col {
        position: relative;
        &:not(:first-child):before {
            background: silver;
            content: '';
            display: block;
            height: 100%;
            left: -15px;
            position: absolute;
            width: 1px;
        }
    }
    &-title {
        background-position-y: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex: 1 0 100%;
        flex-flow: column-reverse;
        height: 500px;
        margin-top: -15px;
        &__text {
            background: rgba(34,138,148,.7);
            height: 100px;
            padding: 30px;
            h1 {
                color: #fff;
                font-size: 24px;
            }
        }
    }
    .tree-item {
        margin: 0;
        padding-right: 30px;
        &-title {
            a {
                color: #228b94;
                display: block;
                font-size: 16px;
                font-weight: bold;
                padding-bottom: 15px;
            }
        }
        &-list {
            margin-bottom: 45px;
            &__element {
                a {
                    color: #000;
                    display: block;
                    font-size: 14px;
                    padding-bottom: 10px;
                }
            }
        }
    }
}

.btn-close {
    background: url(/images/icons/close-white.svg) center no-repeat;
    border-radius: 15px;
    height: 29px;
    padding: 0;
    width: 29px;
    &:hover, &:active {
        background: url(/images/icons/close-black.svg) center no-repeat;
    }
    &-arrow {
        background: url(/images/icons/dropdown-white.svg) center no-repeat;
        display: none;
        &:hover {
            background: url(/images/icons/dropdown-red.svg) center no-repeat;
        }
    }
}

.seo-li {
    border-bottom: 1px solid #ebebeb;
    color: #000;
    cursor: pointer;
    display: flex;
    height: 75px;
    margin-bottom: 15px;
    margin-right: 48px;
    overflow: hidden;
    padding: 0 48px 0 0;
    position: relative;
    text-decoration: none;
    transition: all .3s linear;
    width: calc(25% - 48px);
    .row {
        margin: 0;
        width: 100%;
    }
    .col-8 {
        display: flex;
        padding: 0;
    }
    &:after {
        background: url(/images/next-black.svg) center no-repeat;
        background-size: cover;
        border-radius: 100%;
        content: "";
        height: 22px;
        position: absolute;
        right: 12px;
        top: calc(50% - 11px);
        transition: all .3s linear;
        width: 22px;
    }
    &:hover {
        box-shadow: 2px 4px 10px rgba(0, 0, 0, .1);
        color: #228b94!important;
        & img {
            filter: grayscale(0);
        }
        &:after {
            background: #228b94 url(/images/next-white.svg) center no-repeat;
            background-size: cover;
        }
    }
    span {
        display: flex;
        font-size: 14px;
        margin: auto 0;
        max-height: 85%;
        overflow: hidden;
        padding-left: 15px;
        position: relative;
    }
    img {
        display: block;
        filter: grayscale(100%);
        height: 100%;
        margin: 0 auto;
        object-fit: contain;
        user-select: none;
        width: 100%;
    }
}

.anchor-contacts {
    bottom: 30px;
    float: right;
    left: calc(100% - 100px);
    position: fixed;
    text-align: right;
    z-index: 999;
    &-li {
        cursor: pointer;
        height: 70px;
        margin-top: 5px;
        padding: 5px;
        width: 70px;
        &:hover {
            padding: 0;
        }
        &-hidden {
            display: none;
        }
    }
    &__item {
        align-items: center;
        border-radius: 100px;
        color: #fff;
        display: flex;
        height: 100%;
        justify-content: center;
        transition: all .5s linear;
        width: 100%;
        img {
            width: 100%;
            height: 100%;
            padding: 15px;
        }
        &-chats {
            background: #228b94;
        }
        &-contacts {
            background: #2ecc71;
        }
        &-telegram {
            background: #29a8ea;
        }
        &-viber {
            background: #6359a7;
        }
        &-facebook {
            background: #0099FF;
        }
    }
}

.menu-bar {
    &-contacts {
        margin: 10px;
    }
    &-help {
        margin-bottom: 10px;
    }
    &-lang {
        &__item {
            margin: 0;
            cursor: pointer;
            padding-right: 15px;
            input[type='radio'] {
                display: none;
            }
            &-checked {
                text-decoration: underline;
            }
        }
    }
    &-nav {
        ul {
            list-style: none;
            margin-bottom: 30px;
            margin-top: 30px;
            li {
                margin-bottom: 5px;
                margin-left: 10px;
                padding: 5px;
                a {
                    cursor: pointer;
                    font-size: 15px;
                }
            }
        }
    }
    &-head {
        margin-top: 30px;
        &__title {
            color: #000;
            cursor: pointer;
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 15px;
            margin-left: 10px;
        }
        &__item {
            background: url("/images/icons/arrow-right.svg") calc(100% - 20px) center no-repeat;
            border-bottom: 1px solid #ccc;
            cursor: pointer;
            font-size: 16px;
            margin-bottom: 5px;
            margin-left: 10px;
            padding: 10px;
        }
    }
    &-cat {
        color: #0CA9EE;
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 5px;
        &__title {
            margin-bottom: 15px;
            margin-left: 10px;
        }
    }
    &-group {
        color: #000;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 10px;
        &__item {
            list-style: circle;
            margin-bottom: 15px;
            margin-left: 10px;
            a {
                color: #000;
                cursor: pointer;
            }
        }
    }
}
