.main {
    margin-top: 15px;
}

.sticky {
    left: 0;
    margin: 0!important;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.sticky-backdrop {
    position: fixed;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.7);
    opacity: 0;
    transition: opacity .3s ease;
    z-index: 100;
    &-active {
        left: 0;
        opacity: 1;
    }
    &-hidden {
        left: -100%;
        opacity: 0;
    }
}

.sticky-header {
    background: #fff;
    border-bottom: 3px solid #2d8bfa;
    display: none;
    height: 67px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    &-active {
        display: block;
    }
}

.backdrop {
    background: rgba(0,0,0,0.7);
    position: fixed;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 100;
    &-show {
        left: 0;
        opacity: 1;
    }
}

.page-404 {
    h1 {
        color: #606975;
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 15px;
    }
    h2 {
        color: #a9a9a9;
        font-size: 24px;
    }
    ol {
        padding-left: 30px;
    }
    ol > li {
        font-weight: bold;
        margin-top: 15px;
    }
    ul > li {
        display: inline;
    }
    ul > li > a {
        font-size: 16px;
    }
}

.garage-404 {
    font-size: 16px;
    &__title {
        display: block;
        font-weight: bold;
        margin-bottom: 15px;
        text-transform: uppercase;
    }
    &__text {
        display: block;
        margin-bottom: 15px;
    }
    &__link {
        color: #228b94;
        display: block;
        &:hover {
            color: #000;
        }
    }
}

.tree-404 {
    font-size: 16px;
    &-centered {
        text-align: center;
    }
    &-list {
        &__item {
            display: list-item;
            list-style: square;
            margin-left: 30px;
            margin-top: 10px;
            &-link {
                color: #228b94;
                display: block;
                &:hover {
                    color: #000;
                }
            }
        }
    }
    &__title {
        display: block;
        font-weight: bold;
        margin-top: 15px;
    }
    &__text {
        display: block;
        margin-top: 15px;
    }
}

.nfound {
    margin: 30px 0;
    h2 {
        color: #606975;
        font-size: 22px;
        font-weight: bold;
        text-transform: uppercase;
    }
    h3 {
        color: #000;
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
    }
    img {
        display: block;
        margin: 0 auto;
        width: 150px;
    }
}

.faq {
    box-shadow: 0.5px 0.866px 2px 0 #cfcfcf;
    overflow: hidden;
    &-title {
        font-size: 20px;
        font-weight: bold;
    }
    &-tab {
        width: 100%;
        input[type='checkbox'] {
            opacity: 0;
            position: absolute;
            z-index: -1;
        }
        label {
            transition: .5s ease-in-out;
        }
        input[type="checkbox"]:checked ~ .faq-content {
            display: block;
        }
        input[type="checkbox"]:checked ~ .faq-label {
            &:after {
                content: "-";
            }
        }
        .request {
            min-height: unset!important;
        }
    }
    &-label {
        background: #55bae6;
        border-top: 1px solid white;
        color: #fff;
        cursor: pointer;
        display: block;
        font-size: 16px;
        font-weight: bold;
        margin: 0;
        padding: 10px;
        &:hover {
            background: #17a2b8;
        }
        &:after {
            content: "+";
            float: right;
        }
    }
    &-content {
        display: none;
        font-size: 14px;
        padding: 10px;
        transition: .5s ease-in-out;
    }
}

.request {
    min-height: 446px;
    padding: 10px;
    &-row {
        display: flex;
        margin-bottom: 15px;
        &-mob {
            display: none;
            a {
                display: flex;
                width: 100%;
            }
        }
        textarea {
            height: 100px;
        }
        input[type='text'], input[type='tel'], textarea {
            border: 1px solid #ccc;
            padding: 5px;
            width: 100%;
        }
        input[type='submit'] {
            background: #36cd76;
            border: 1px solid #4f996c;
            border-radius: .2rem;
            color: #fff;
            cursor: pointer;
            padding: 5px;
            text-align: center;
            width: 100%;
            &:hover {
                background: #4f996c;
            }
        }
        &__image {
            width: 50px;
            img {
                width: 50px;
            }
            &-socials {
                width: 200px;
                padding: 10px 5px;
            }
        }
        &__title {
            font-size: 14px;
            font-weight: bold;
            margin-left: 10px;
            text-align: right;
            width: 100%;
        }
        &__text {
            color: #606975;
            font-size: 11px;
            text-align: center;
            a, a:not([href]):not([tabindex]) {
                color: #0ca9ee;
                cursor: pointer;
                &:hover {
                    color: #17a2b8;
                }
            }
        }
    }
    &-mob {
        display: none;
    }
}

.reviews-list {
    &-title {
        color: #606975;
        display: block;
        font-weight: 700;
        text-transform: uppercase;
    }
    &__item {
        color: #606975;
        font-size: 14px;
        margin-top: 5px;
        a {
            color: #606975;
        }
        i {
            color: #0ca9ee;
            margin-right: 5px;
        }
    }
}

.seo-text {
    color: #606975;
    font-size: 14px;
    line-height: 21px;
    max-height: 120px;
    overflow: hidden;
    &.full {
        max-height: unset;
        & ~ button {
            display: none;
        }
    }
    h2 {
        color: #606975;
        font-size: 1.5em;
        font-weight: 400;
        line-height: 21px;
        margin: 20px 0 10px;
    }
    ul {
        padding-left: 2em;
    }
}

.seo-block {
    position: relative;
    .seo-text:after {
        background: linear-gradient(180deg, hsla(0,0%,95.3%,0) 0, #fff 100%);
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 70px;
    }
    button {
        background: transparent;
        border: none;
        color: #606975;
        cursor: pointer;
        float: right;
        font-size: 14px;
        margin-top: 1em;
        text-align: right;
        text-decoration: underline;
        text-transform: uppercase;
    }
}

.medium-text {
    color: #8c8c8c;
    font-size: 0.9em;
}

.span-grey {
    color: #606975;
    font-weight: bold;
}

.span-dark {
    color: #606975;
    float: left;
    font-size: 12px;
    font-weight: 700;
    &-red {
        color: #f44336;
        font-weight: bold;
    }
}

.span-red {
    color: #f08080!important;
    font-weight: 700!important;
}

.span-green {
    color: #7cc576!important;
    font-weight: 700!important;
}

.span-outline {
    color: #f08080!important;
    text-decoration: line-through;
}

.btn-danger {
    background: #f08080;
    border-color: #f08080;
}

.btn-circle {
    width: 25px;
    height: 25px;
    padding: 0;
    border-radius: 15px;
    text-align: center;
    font-size: 14px;
    line-height: 1.5;
    background: #0c5460;
    color: #fff;
    border-color: #fff;
    position: relative;
    top: -2.5px;
    &:hover {
        background: #fff;
        border-color: #0c5460;
        color: #0c5460;
    }
}

.bold {
    font-weight: 700;
}

.show {
    display: block;
}

.none {
    display: none!important;
}

.dblock {
    display: block!important;
}

.dvisibility {
    visibility: visible;
}

.dvisibility0 {
    visibility: hidden;
    height: 0;
}

.dflex {
    display: flex;
}

.pointer {
    cursor: pointer;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.mar0 {
    margin: 0;
}

.pad0 {
    padding: 0;
}

.padl0 {
    padding-left: 0;
}

.padr0 {
    padding-right: 0;
}

.pad10 {
    padding: 10px 0;
}

.padr15 {
    padding-right: 15px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.h0 {
    height: 0!important;
}

.wdt100 {
    width: 100%;
}

.hgt100 {
    height: 100%;
}

.img-center {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.accept {
    color: #228b94;
}

.non_accept {
    color: #ee7f80;
}

.bg-danger {
    background: #f44336!important;
}

.bg-success {
    background: #8fbc8f!important;
}

.bg-warning {
    background: #ffffe0!important;
}

.required_input {
    border: 1px solid #ee7f80;
    box-shadow: 0 0 5px #ee7f80;
}

.table-bordered {
    border: 1px solid #000;
    border-top: none;
}

.label:active {
    background: #fff;
    color: #ee7f80;
}

.inline-list {
    list-style: none;
}

.dnone {
    display: none;
    opacity: 0;
}

.content {
    background: #fff;
    padding: 30px;
    width: 100%;
    box-shadow: 0 1px 4px #ccc;
}

.content-auto {
    margin-top: 30px;
    background: #fff;
    padding: 30px;
    width: 100%;
    box-shadow: 0 1px 10px #ccc;
    h1 {
        padding-left: 15px;
        font-weight: 600;
    }
    .title-b {
        margin-bottom: 2em;
        color: #228b94;
        display: block;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
    }
}

.content-min {
    background: #fff;
    padding: 1em;
    width: 100%;
    box-shadow: 0 1px 10px #ccc;
    text-align: justify;
}

.breadcrumbs {
    background: #fff;
    width: 100%;
    box-shadow: 0 1px 4px #ccc;
    min-height: 0;
    margin-bottom: 15px;
    padding: 10px 15px;
    word-wrap: break-word;
    overflow: auto;
    white-space: nowrap;
    a {
        color: #000;
    }
}

.btn-filter {
    background: white;
    border: 1px solid #292929;
    color: #292929;
}

.hidden-list-more {
    color: #228b94;
    font-size: 16px;
    margin-top: 10px;
    &:hover {
        text-decoration: underline;
    }
}

.cat-products {
    &-bread {
        font-size: 14px;
        margin-bottom: 15px;
        overflow: auto;
        padding: 0;
        white-space: nowrap;
        word-wrap: break-word;
        a {
            color: #ccc;
            &:hover {
                color: #606975;
            }
        }
        i {
            color: #ddd;
            margin: 0 10px;
        }
    }
    &-cars {
        box-shadow: 0 1px 4px #ccc;
        margin-bottom: 60px;
    }
    &-count {
        margin-bottom: 15px;
        span {
            font-size: 16px;
            display: inline-block;
            margin: 15px 0 0 15px;
            line-height: 30px;
            vertical-align: middle;
        }
        a {
            background: #eee;
            color: #606975;
            margin-left: 15px;
            border: 1px solid #606975;
            font-size: 13px;
            margin-top: 15px;
        }
        i {
            color: #228b94;
        }
    }
    &-title {
        margin: 15px 0;
        h1 {
            font-size: 24px;
            font-weight: bold;
            margin: 0;
            text-transform: uppercase;
        }
    }
    &-pagination {
        margin: 0 15px;
        nav {
            display: block;
            margin: 2em auto 0 auto;
        }
    }
}

.special-offers {
    &-header {
        margin-bottom: 1em;
        min-height: 0;
        padding: 15px;
        h2 {
            text-transform: uppercase;
            font-weight: 700;
            font-size: 1.2em;
            padding-top: .3em;
        }
        h3 {
            text-transform: uppercase;
            font-weight: 700;
            font-size: 1em;
            float: right;
            padding-top: .7em;
        }
    }
    &-item {
        margin-left: 0;
        margin-bottom: 15px;
        border-bottom: 1px solid #eee;
        background: #fff;
        box-shadow: 0 1px 10px #ccc;
        padding: 15px;
        margin-right: 15px;
        width: 100%;
        &__date {
            color: darkgray;
            font-size: 11px;
        }
        &__name {
            font-size: .8em;
            color: #a9a9a9;
            a {
                color: #228b94;
                font-size: 16px;
                span {
                    color: #606975;
                    font-size: 14px;
                }
            }
        }
        &__descr {
            color: #999;
            font-size: 14px;
        }
        &__link {
            color: #228b94;
            font-size: 14px;
            font-weight: bold;
        }
        &__info {
            color: #228b94;
            cursor: pointer;
            span {
                color: #228b94;
            }
        }
        &__bell {
            color: lightcoral;
            float: right;
            margin-left: 10px;
        }
        &-eco {
            color: #606975;
            font-weight: bold;
            &__text {
                float: right;
                font-size: 14px;
            }
            &__number {
                float: right;
                font-size: 18px;
            }
        }
        &-discount {
            background: #fff;
            position: relative;
            p {
                color: #fff;
            }
            &:after {
                content: "";
                position: absolute;
                width: 0;
                height: 0;
                background: #eee;
            }
            &:before {
                content: "";
                position: absolute;
                width: 0;
                height: 0;
                background: #eee;
                top: 0;
                right: 0;
                border-bottom: 110px solid #fff;
                border-right: 170px solid transparent;
                box-shadow: -3px 3px 7px rgba(0, 0, 0, 0.3);
            }
        }
    }
}

.contacts {
    ul {
        list-style: none;
        li {
            padding-bottom: 30px;
            span {
                font-size: 12px;
            }
            .fas {
                text-align: center;
                width: 15px;
            }
        }
    }
}

.tool-status {
    background: #f44336;
    border: 1px solid;
    border-radius: 30px;
    color: #fff;
    display: block;
    height: 20px;
    position: relative;
    top: -8px;
    left: 18px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    width: 20px;
    z-index: 99;
    &-hidden {
        display: none;
        &.show {
            display: block!important;
        }
    }
    &-contain {
        display: block;
        height: 0;
    }
}

.basket_phone {
    background: #f44336;
    border: 1px solid;
    border-radius: 30px;
    color: #fff;
    height: 20px;
    position: relative;
    top: -8px;
    left: 35px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    width: 20px;
    z-index: 99;
}

.header-nav {
    background: #f44336;
    position: relative;
    z-index: 999;
    &-hide {
        height: auto;
        position: absolute;
        z-index: 999999;
        top: 45px;
        width: 100%;
        left: 15px;
        display: none;
    }
    &__ul {
        align-items: flex-start;
        display: flex;
        height: 100%;
        justify-content: start;
        list-style: none;
        margin: 0;
        width: 100%;
    }
    &__li {
        align-items: center;
        color: #fff;
        cursor: pointer;
        display: flex;
        font-size: 12px;
        font-weight: 700;
        height: 60px;
        margin-left: -1px;
        min-height: 50px;
        padding: 10px;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        &:hover {
            background: rgba(200, 67, 54, 1);
            color: #fff;
            transition: all .3s ease;
        }
        &:not(:first-child) {
            &:before {
                background: rgba(255, 255, 255, 0.3);
                bottom: 10px;
                content: '';
                left: 0;
                position: absolute;
                top: 10px;
                width: 1px;
            }
        }
        a {
            color: #fff;
            &:hover {
                text-decoration: none;
            }
        }
        &-active {
            background: #fff!important;
            a {
                color: #f44336!important;
            }
            &:hover {
                background: #fff!important;
                a {
                    color: #f44336!important;
                }
            }
        }
    }
}

.content-nav {
    background: #fff;
    box-shadow: 0 3px 3px #000;
    border-top: none;
    height: auto;
    padding: 0;
    z-index: 999999;
    &__content {
        margin-top: 15px;
    }
    &__footer {
        background: #f1f1f1;
        padding: 15px;
        a {
            color: #228b94;
            display: block;
            text-align: right;
        }
    }
    &__header {
        a {
            color: #ee7f80;
            display: block;
            font-size: 24px;
            padding-bottom: 15px;
        }
    }
    &__content {
        border: none;
    }
}

.fixed {
    background: #f1f1f1;
    box-shadow: 0 0 4px 0 #000;
    color: #fff;
    height: 60px;
    left: 0;
    margin: 0;
    position: fixed;
    width: 100%;
    z-index: 99999999;
    &-main {
        height: inherit;
        display: flex;
        width: 100%;
        padding-top: 10px;
        &__nav {
            text-align: center;
            display: block;
            position: relative;
            &-btn {
                color: #fff;
                padding: 5px;
                width: 40px;
                height: 40px;
                border-radius: 5px;
                background: #4b4e4f;
                opacity: 0.9;
                img {
                    width: 100%;
                }
                &:hover {
                    opacity: 0.5;
                }
            }
        }
        &__search {
            input {
                border-right: none;
                margin-right: -41px;
                border-radius: .25rem!important;
                box-shadow: none;
                line-height: 0;
            }
        }
        &__basket {
            display: block;
            text-align: center;
            img {
                width: 100%;
            }
            .basket_count {
                border-radius: 30px;
                color: #fff;
                width: 25px;
                height: 25px;
                position: relative;
                background: #f44336;
                top: -40px;
                left: 59%;
            }
            &-btn {
                color: #fff;
                padding: 5px;
                width: 40px;
                height: 40px;
                border-radius: 5px;
                background: #4b4e4f;
                opacity: 0.9;
                img {
                    width: 100%;
                }
                &:hover {
                    opacity: 0.5;
                }
            }
        }
    }
    &.hidden {
        display: none;
    }
}

.fixed-nav {
    background: #2d8bfa;
    bottom: 0;
    color: #fff;
    display: none;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 80px;
    left: 0;
    padding: 15px;
    position: fixed;
    width: 100%;
    z-index: 100;
    &-item {
        width: 50px;
        &__image {
            display: block;
            height: 30px;
            margin: 0 auto;
            width: 30px;
        }
        &__text {
            display: block;
            font-size: 12px;
            text-align: center;
            width: 100%;
        }
    }
}

.fixed-phone {
    display: none;
    width: 100%;
    ul {
        list-style: none;
        margin: 0;
        padding-left: 0;
        li {
            display: inline-block;
            width: 40px;
            &.logotype-min {
                display: inline;
                height: auto;
                position: relative;
                width: auto;
                img {
                    width: 100%;
                }
                a {
                    width: 80px;
                }
            }
            a, a:not([href]):not([tabindex]), button {
                background: #fff;
                border: 1px solid white;
                color: #292929;
                width: 40px;
            }
        }
        .basket_status {
            display: inline-block;
            width: 0;
        }
    }
}

.tree-heads {
    display: block;
    &__item {
        border-bottom: 1px solid #ccc;
        display: block;
        label {
            cursor: pointer;
            margin: 0;
            width: 100%;
        }
        input[type="checkbox"] {
            display: none;
            &:checked ~ div {
                display: block!important;
            }
            &:checked ~ label .tree-heads__item-header {
                background: #ccc!important;
            }
        }
        &-header {
            align-items: center;
            background: #fff!important;
            display: flex;
            padding: 15px;
            &:hover {
                filter: brightness(0.9);
                img {
                    transform: scale(1.1);
                }
            }
        }
        &-image {
            align-items: center;
            display: block;
            text-align: right;
            width: 50%;
            img {
                width: auto;
                height: 120px;
                max-width: 100%;
                transition: all 1s ease-out;
            }
        }
        &-text {
            padding-right: 15px;
            text-align: left;
            transition: .5s ease-in-out;
            width: 50%;
        }
        &-title {
            color: #000;
            display: block;
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 10px;
            text-transform: uppercase;
        }
        &-descr {
            color: #292929;
            display: -webkit-box;
            display: block;
            font-size: 14px;
            font-weight: 400;
            overflow: hidden;
            text-transform: uppercase;
            //-webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }
    }
}

.tree-cat {
    &__item {
        margin-bottom: 10px;
        &-title {
            background: #ddd;
            color: #000;
            font-size: 14px;
            font-weight: 500;
            margin-bottom: 10px;
            padding: 15px;
            a {
                color: #707883;
                text-transform: uppercase;
            }
        }
    }
}

.tree-group {
    align-items: baseline;
    display: flex;
    flex-wrap: wrap;
    &__item {
        margin-bottom: 15px;
        min-height: 80px;
        padding: 0 10px;
        width: calc(100% / 7);
        &-image {
            img {
                display: block;
                margin: 0 auto;
                width: 100%;
            }
        }
        &-text {
            color: #000;
            font-size: 13px;
            font-weight: 500;
            text-align: center;
            a {
                color: #000;
                word-wrap: break-word;
            }
        }
    }
}

.tree-block {
    display: flex;
    flex-wrap: wrap;
    margin: 15px 0;
    &__col {
        position: relative;
        &:not(:first-child):before {
            content: '';
            width: 1px;
            display: block;
            position: absolute;
            background: silver;
            height: 100%;
            left: -15px;
        }
    }
    &-title {
        background-position-y: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex: 1 0 100%;
        flex-flow: column-reverse;
        height: 500px;
        margin-top: -15px;
        &__text {
            background: rgba(34,138,148,.7);
            height: 100px;
            padding: 30px;
            h1 {
                color: #fff;
                font-size: 24px;
            }
        }
    }
    .tree-item {
        margin: 0;
        padding-right: 30px;
        &-title {
            a {
                color: #228b94;
                display: block;
                font-size: 16px;
                font-weight: bold;
                padding-bottom: 15px;
            }
        }
        &-list {
            margin-bottom: 45px;
            &__element {
                a {
                    color: #000;
                    display: block;
                    font-size: 14px;
                    padding-bottom: 10px;
                }
            }
        }
    }
}

.car_form-select {
    background: #0c5460;
    color: #fff;
    min-height: unset!important;
    padding: 1em 0;
    h1, h2 {
        font-size: 1.5em;
        font-weight: bold;
        padding-left: 15px;
        text-transform: uppercase;
    }
    &-h {
        display: block;
        font-size: 1.5em;
        font-weight: bold;
        text-transform: uppercase;
        padding-left: 15px;
    }
}

.t_mfa {
    column-count: 4;
    column-gap: 20px;
    list-style: none;
    padding: 0 20px;
    a {
        color: #000;
    }
}

.t_model {
    column-count: 4;
    column-gap: 20px;
    list-style: none;
    padding: 0 20px;
}

.t_year {
    color: #000;
    display: flex;
    justify-content: space-between;
    ul {
        width: 100%;
    }
    span {
        display: block!important;
    }
    .year-title {
        background: #ddd;
        color: #000;
        margin: 10px;
        text-align: center;
    }
}

.t_model_id {
    a {
        display: block;
        &:hover {
            background: #f1f1f1;
        }
    }
    b {
        text-align: left;
    }
    span {
        float: right;
    }
    img {
        height: 70px;
        max-width: 100%;
        width: auto;
    }
    .row {
        padding: 10px;
        .body-car {
            padding-right: 0;
            img {
                height: auto;
                width: 50px;
            }
        }
        .image-car {
            padding-left: 0;
            img {
                width: 100%;
            }
        }
    }
}

.t_modification {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    div {
        border: 1px solid #ddd;
        margin-right: 15px;
        margin-bottom: 15px;
        padding: 15px;
        width: calc(25% - 15px);
    }
}

.t_types {
    display: flex;
    flex-direction: row;
    a {
        display: block;
    }
    div {
        flex: 1 1 auto;
    }
    span {
        display: block;
    }
}

.garage_form {
    a {
        color: #fff;
        font-size: 15px;
        padding: 0!important;
        text-transform: uppercase;
    }
    img {
        filter: none;
        float: none;
        width: auto;
    }
    span {
        float: none;
        font-size: 11px;
        padding: 0;
        text-align: left;
        &.title {
            font-size: 16px;
            font-weight: bold;
        }
    }
}

.btn-close {
    background: url(/images/icons/close-white.svg) center no-repeat;
    border-radius: 15px;
    height: 29px;
    width: 29px;
    padding: 0;
    &:hover, &:active {
        background: url(/images/icons/close-black.svg) center no-repeat;
    }
}

.btn-arrow {
    background: url(/images/icons/dropdown-white.svg) center no-repeat;
    border-radius: 15px;
    height: 29px;
    width: 29px;
    padding: 0;
    &:hover {
        background: url(/images/icons/dropdown-red.svg) center no-repeat;
    }
}

.garage-history {
    &-block {
        padding: 15px;
        &__title {
            color: #000;
            display: block;
            font-size: 16px;
        }
        &__delete {
            color: #000;
            cursor: pointer;
            display: block;
            font-size: 16px;
            text-align: right;
        }
        &-list {
            list-style: none;
            margin: 0;
            &__item {
                color: #000;
                cursor: pointer;
                font-size: 14px;
                margin-bottom: 5px;
            }
        }
    }
}

.seo_details {
    .seo-ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        width: 100%;
    }
    .seo-li {
        color: #000;
        cursor: pointer;
        display: flex;
        width: calc(25% - 48px);
        margin-right: 48px;
        margin-bottom: 15px;
        height: 75px;
        text-decoration: none;
        padding: 0 69px 0 0;
        position: relative;
        border-bottom: 1px solid #ebebeb;
        transition: all .3s linear;
        &-min {
            width: calc(20% - 24px);
            margin: 12px;
            box-shadow: 0 0 10px 0 rgba(0,0,0,.11);
            img {
                width: 40px!important;
                height: 40px;
                margin: 17px 0 17px 10px;
            }
            &:after {
                content: unset!important;
            }
        }
        &:after {
            content: "";
            position: absolute;
            top: calc(50% - 11px);
            right: 12px;
            width: 22px;
            height: 22px;
            border-radius: 100%;
            background: url(/images/next-black.svg) center no-repeat;
            background-size: cover;
            transition: all .3s linear;
        }
        &:hover {
            color: #228b94!important;
            box-shadow: 2px 4px 10px rgba(0, 0, 0, .1);
            & img {
                filter: grayscale(0);
            }
        }
        &:hover:after {
            background: #228b94 url(/images/next-white.svg) center no-repeat;
            background-size: 14px;
        }
        span {
            padding-left: 15px;
            position: relative;
            max-height: 85%;
            overflow: hidden;
            display: flex;
            margin: auto 0;
            font-size: 15px;
        }
        img {
            width: 100%;
            filter: grayscale(100%);
        }
        &-id {
            width: calc(33% - 48px);
            margin-bottom: 15px;
        }
    }
}

.seo_auto {
    a {
        color: #000;
    }
    ul {
        column-count: 1;
        list-style: none;
        &.list-inline {
            column-count: 4;
            list-style: none;
        }
        li.title {
            padding: 15px 0;
        }
    }
    &.title {
        font-weight: bold;
    }
}

.anchor-contacts {
    bottom: 30px;
    float: right;
    left: calc(100% - 100px);
    position: fixed;
    text-align: right;
    z-index: 999;
    &-li {
        margin-top: 5px;
        padding: 5px;
        width: 70px;
        height: 70px;
        cursor: pointer;
        &:hover {
            padding: 0;
        }
        &-hidden {
            display: none;
        }
    }
    &__item {
        transition: all .5s linear;
        height: 100%;
        width: 100%;
        border-radius: 100px;
        display: flex;
        color: #fff;
        align-items: center;
        justify-content: center;
        img {
            width: 100%;
            height: 100%;
            padding: 15px;
        }
        &-chats {
            background: #228b94;
        }
        &-contacts {
            background: #2ecc71;
        }
        &-telegram {
            background: #29a8ea;
        }
        &-viber {
            background: #6359a7;
        }
        &-facebook {
            background: #0099FF;
        }
    }
}

.menu-bar {
    &-contacts {
        margin: 10px;
    }
    &-help {
        margin-bottom: 10px;
    }
    &-lang {
        &__item {
            margin: 0;
            cursor: pointer;
            padding-right: 15px;
            input[type='radio'] {
                display: none;
            }
            &-checked {
                text-decoration: underline;
            }
        }
    }
    &-nav {
        ul {
            list-style: none;
            margin-top: 30px;
            margin-bottom: 30px;
            li {
                margin-bottom: 5px;
                margin-left: 10px;
                padding: 5px;
                a {
                    font-size: 15px;
                    cursor: pointer;
                }
            }
        }
    }
    &-head {
        margin-top: 30px;
        &__title {
            color: #000;
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 15px;
            margin-left: 10px;
            cursor: pointer;
        }
        &__item {
            background: url("/images/icons/arrow-right.svg") calc(100% - 20px) center no-repeat;
            border-bottom: 1px solid #ccc;
            font-size: 16px;
            margin-bottom: 5px;
            margin-left: 10px;
            padding: 10px;
            cursor: pointer;
        }
    }
    &-cat {
        font-size: 16px;
        font-weight: bold;
        color: #0CA9EE;
        margin-bottom: 5px;
        &__title {
            margin-bottom: 15px;
            margin-left: 10px;
        }
    }
    &-group {
        font-size: 14px;
        font-weight: 400;
        color: #000;
        margin-bottom: 10px;
        &__item {
            margin-left: 10px;
            list-style: circle;
            margin-bottom: 15px;
            a {
                color: #000;
                cursor: pointer;
            }
        }
    }
}
