header {
    color: #a9a9a9;
    width: 100%;
}

.header-top {
    background: #f1f1f1;
    border-bottom: 1px solid #ced4da;
    color: #606975;
    a, a:not([href]):not([tabindex]) {
        color: #606975;
        &:hover {
            color: #000;
        }
    }
}

.menu-language {
    display: flex;
    justify-content: space-around;
    width: 100px;
    &__item {
        &-active {
            a {
                text-decoration: underline;
            }
        }
    }
}

.contacts {
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.authorization {
    text-align: right;
    &-item {
        display: inline;
        font-size: 14px;
        padding: 0 5px;
        a, a:not([href]):not([tabindex]) {
            cursor: pointer;
            &:hover {
                color: #000;
                text-decoration: none;
            }
        }
        &__counter {
            color: #f44336!important;
            font-weight: 700!important;
        }
        &-inline {
            display: inline-block;
        }
    }
}

#InputForm {
    .modal-dialog {
        max-width: 1000px; margin: 0 auto; top: -20px;
    }
    .modal-content {
        background: transparent; border: none;
    }
}

.search {
    width: 100%;
    &-container {
        display: block;
        height: 60px;
        width: 100%;
        border: 1px solid #ced4da;
        border-radius: .25em;
        background: #f7f7f7;
    }
    &-mobile {
        display: block;
        font-size: 14px;
        height: 60px;
        width: inherit;
        border: 1px solid #ced4da;
        border-radius: .25em;
        background: #f7f7f7;
        padding: 0 15px;
        &-fixed {
            position: fixed;
            z-index: 99999999999;
            width: calc(100% - 30px);
        }
    }
    &-dropdown {
        display: none;
        width: 100%;
        background: #fff;
        ul {
            list-style: none;
        }
        &-fixed {
            display: block;
            position: fixed;
            z-index: 99999999999;
            width: calc(100% - 30px);
            margin-top: 15px;
        }
    }
    &-input {
        background: white;
        margin-top: 15px;
        width: 100%;
    }
    &-block {
        margin: 15px;
        &-header {
            color: #292929;
            display: flex;
            flex-wrap: wrap;
            font-size: 20px;
            justify-content: space-between;
            margin-bottom: 15px;
            align-items: center;
            &__item {
                background: #fff;
                padding-right: 15px;
                z-index: 1;
                padding-left: 30px;
            }
            &:after {
                content: "";
                height: 1px;
                width: 100%;
                background: url(/images/bg-repeat-blue.png) repeat-x;
                top: -14px;
                position: relative;
            }
            img {
                position: absolute;
                width: 20px;
                height: 20px;
                z-index: 2;
            }
        }
        &-content {
            font-size: 16px;
            list-style: none;
            margin-bottom: 30px;
            margin-left: 30px;
            li {
                margin-bottom: 10px;
                a, a:not([href]):not([tabindex]) {
                    color: #0CA9EE;
                    cursor: pointer;
                }
                &:hover {
                    color: #ccc;
                }
            }
        }
    }
    &-btn {
        width: 100%;
        text-align: left;
        padding-left: 15px;
        padding-right: 15px;
        height: 50px;
        font-size: 18px;
        background: white;
        border: 1px solid lightgray;
        border-radius: .25em;
        cursor: pointer;
        color: gray;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    input {
        border-radius: .25rem !important;
        height: 60px;
        margin-right: -1px;
        padding-left: 20px;
    }
    button {
        border: 1px solid #ced4da;
        font-size: 22px;
        width: 60px;
    }
}

.header-main {
    margin-bottom: 0;
    padding: 15px 0;

    .logotype-main {
        &-image {
            align-items: center;
            display: flex;
            overflow: hidden;
            padding: 0;
            width: 100%;
            img {
                height: 100%;
                width: 100%;
            }
        }
    }

    .phones {
        text-align: center;
        ul {
            list-style: none;
            li {
                img {
                    height: 15px;
                    width: 15px;
                }
                a {
                    color: #606975;
                    font-size: 14px;
                }
            }
        }
    }

    .icons {
        &-nav {
            display: flex;
            font-weight: bold;
            flex-wrap: wrap;
            justify-content: space-between;

            &-item {
                cursor: pointer;
                padding-left: 45px;
                text-decoration: none;
                width: 30%;

                &:hover {
                    & .icons-nav-item__title {
                        color: #228B94;
                    }

                    & .icons-nav-item__descr {
                        color: #228B94;
                    }
                }

                &-row {
                    display: flex;
                    height: 25px;
                }

                &-garage {
                    background: url(/images/icons/headers/30x30/garage.png) left no-repeat;
                    background-size: 30px;
                }

                &-profile {
                    background: url(/images/icons/headers/30x30/profile.png) left no-repeat;
                    background-size: 30px;
                }

                &-basket {
                    background: url(/images/icons/headers/30x30/basket.png) left no-repeat;
                    background-size: 30px;
                }

                &__title {
                    color: #606975;
                    font-size: 14px;
                    width: calc(100% - 25px);
                }

                &__descr {
                    color: #606975;
                    font-size: 14px;
                    text-transform: uppercase;
                    width: 100%;
                }

                &__status {
                    background: #f44336;
                    border-radius: 30px;
                    color: #fff;
                    font-size: 12px;
                    height: 20px;
                    line-height: 20px;
                    text-align: center;
                    width: 20px;
                }
            }
        }
    }
}

.header-phone {
    display: none;
    &-nav {
        border-bottom: 1px solid #ccc;
        padding: 10px 15px;
        &__logo {
            display: block;
            img {
                max-height: 30px;
                height: 100%;
                width: 100%;
            }
        }
        &__list {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-around;
            list-style: none;
            &-link {
                cursor: pointer;
                display: block;
            }
            .basket_status {
                position: absolute;
            }
        }
    }
    &-search {
        align-items: center;
        background: #f1f1f1;
        border-bottom: 1px solid #ccc;
        height: 82px;
        overflow: hidden;
        padding: 10px 15px;
        &__button {
            background: #fff;
            border: 1px solid #0c5460;
            border-radius: .25em;
            color: #ccc;
            display: block;
            padding: 5px;
            text-align: left;
            width: 100%;
            height: 100%;
            font-size: 14px;
        }
    }
    &-drop {
        border-bottom: 1px solid #ccc;
        padding: 10px 15px;
    }
}

.header-order {
    margin: 30px 0;
    .header-phone-drop {
        background: #fff;
        border: unset;
        display: none;
    }
    &-logo {
        padding: 0;
        img {
            width: 100%;
        }
    }
    &-phone {
        ul {
            list-style: none;
            li {
                display: inline-block;
                margin-right: 30px;
                a {
                    color: #606975;
                    font-size: 20px;
                    &:hover {
                        text-decoration: underline;
                    }
                }
                img {
                    height: 30px;
                    width: 30px;
                }
            }
        }
    }
    &-text {
        color: #606975;
        font-size: 20px;
    }
}

.garage-drop {
    &-block {
        h2 {
            font-size: 20px;
            margin-bottom: 30px;
        }
        &__list {
            padding: 15px;
            text-align: left;
            .garage-row {
                display: flex;
                flex-wrap: nowrap;
                padding-bottom: 15px;
                &__text {
                    width: 50%;
                    span {
                        color: #606975;
                    }
                }
                &__buttons {
                    text-align: right;
                    width: 50%;
                    button {
                        width: auto;
                    }
                }
            }

        }
        &__select {
            border-left: 1px solid #f1f1f1;
            padding: 15px;
            text-align: left;
            &-title {
                color: #000;
                display: block;
            }
            &-text {
                color: #989898;
                font-size: 11px;
            }
            &-image {
                width: 100%;
            }
        }
    }
}
