header {
    color: #a9a9a9;
    width: 100%;
}

.header-top {
    background: #f1f1f1;
    border-bottom: 1px solid #ced4da;
    color: #606975;
    padding: 0;
    a, a:not([href]):not([tabindex]) {
        color: #606975;
        &:hover {
            color: #000;
        }
    }
    .contacts {
        font-size: 14px;
        overflow: hidden;
        padding: 0;
        position: relative;
        text-overflow: ellipsis;
        white-space: nowrap;
        a:hover {
            color: #000;
            text-decoration: none;
            transition: all .2s ease;
        }
    }
    .menu-language {
        align-items: baseline;
        display: flex;
        flex-wrap: nowrap;
        font-size: 14px;
        justify-content: space-around;
        width: 100px;
        &__item {
            font-size: 14px;
            &-active {
                a {
                    text-decoration: underline;
                }
            }
        }
    }
    .authorization {
        &-counter {
            color: #f44336!important;
            font-weight: 700!important;
        }
        ul {
            margin: 0;
            text-align: right;
            li {
                display: inline;
                font-size: 14px;
                margin-right: 0;
                padding: 0 5px;
            }
            a, a:not([href]):not([tabindex]) {
                &:hover {
                    color: #000;
                    text-decoration: none;
                    transition: all .2s ease;
                }
            }
        }
    }
}

.header-main {
    background: 75% no-repeat #fff;
    background-size: 32%;
    margin-bottom: 0;
    padding: 1% 0;
    position: relative;
    .logotype-main {
        height: auto;
        position: relative;
        img {
            width: 100%;
        }
    }
    .phones {
        text-align: center;
        ul {
            list-style: none;
            margin: 0;
            li {
                img {
                    height: 15px;
                    width: 15px;
                }
                a {
                    border: none;
                    background: transparent;
                    color: #606975;
                    font-size: 14px;
                }
            }
        }
    }
    .search {
        input {
            border-radius: .25rem!important;
            border-right: none;
            box-shadow: none;
            margin-right: -41px;
        }
        button {
            border: 1px solid #ced4da;
        }
        &-nav {
            list-style: none;
            margin: 0;
            &__item {
                background: #fff;
                a, a:not([href]):not([tabindex]) {
                    color: #000;
                    cursor: pointer;
                    display: block;
                    position: relative;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    padding: 15px 0;
                    &:hover {
                        color: #ccc;
                    }
                }
                &:hover {
                    background: #f7f7f7;
                }
            }
        }
    }
    .icons {
        &-nav {
            display: flex;
            font-weight: bold;
            flex-wrap: wrap;
            justify-content: space-between;
            &-item {
                cursor: pointer;
                display: block;
                padding-left: 45px;
                text-decoration: none;
                transition: all .3s linear;
                width: 30%;
                &:hover {
                    & .icons-nav-item__title {
                        color: #228B94;
                    }
                    & .icons-nav-item__descr {
                        color: #228B94;
                    }
                }
                &-row {
                    display: flex;
                    height: 25px;
                }
                &-garage {
                    background: url(/images/icons/headers/30x30/garage.png) left no-repeat;
                    background-size: 30px;
                }
                &-profile {
                    background: url(/images/icons/headers/30x30/profile.png) left no-repeat;
                    background-size: 30px;
                }
                &-basket {
                    background: url(/images/icons/headers/30x30/basket.png) left no-repeat;
                    background-size: 30px;
                }
                &__title {
                    color: #606975;
                    font-size: 14px;
                    width: calc(100% - 25px);
                }
                &__descr {
                    color: #606975;
                    font-size: 14px;
                    text-transform: uppercase;
                    width: 100%;
                }
                &__status {
                    background: #f44336;
                    border: 1px solid #f44336;
                    border-radius: 30px;
                    color: #fff;
                    font-size: 12px;
                    height: 20px;
                    line-height: 20px;
                    text-align: center;
                    text-transform: uppercase;
                    width: 20px;
                }
            }
        }
    }
}

.header-phone {
    display: none;
    &-nav {
        align-items: center!important;
        border-bottom: 1px solid #ccc;
        padding: 10px 15px;
        &__logo {
            a {
                display: block;
                padding: 0;
                width: 100%;
            }
            img {
                width: 100%;
            }
        }
        &__list {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-around;
            list-style: none;
            margin: 0;
            &-link {
                display: block;
                cursor: pointer;
                img {
                    display: block;
                    height: 30px;
                    margin: 0 auto;
                    width: 30px;
                }
            }
            .basket_status {
                position: absolute;
            }
        }
    }
    &-search {
        background: #f1f1f1;
        border-bottom: 1px solid #ccc;
        padding: 10px 15px;
        button {
            background: #fff;
            border: 1px solid #0c5460;
            border-radius: .25em;
            color: #ccc;
            text-align: left;
            height: 40px;
            width: 100%;
            padding: 5px 10px;
            i, span {
                color: #0c5460;
                float: right;
            }
        }
    }
    &-drop {
        background: #f1f1f1;
        border-bottom: 1px solid #ccc;
        padding: 10px 15px;
        &__socials {
            display: block;
            margin: 0;
            width: 100%;
        }
        a {
            color: #606975;
            display: block;
            overflow: hidden;
            white-space: nowrap;
            &:hover {
                background-color: inherit;
                color: inherit;
            }
        }
        //img {
        //    height: 20px;
        //    margin-right: 5px;
        //    position: relative;
        //    top: -4px;
        //    width: 20px;
        //}
        input {
            border: none;
            background: transparent;
            color: #606975;
            font-size: 14px;
        }
        label {
            color: #606975;
            font-size: 18px;
            margin: 0;
        }
    }
}

.header-order {
    align-items: center;
    padding: 30px 0;
    .header-phone-drop {
        background: #fff;
        border: unset;
        display: none;
    }
    &-logo {
        padding: 0;
        img {
            width: 100%;
        }
    }
    &-phone {
        ul {
            list-style: none;
            margin: 0;
            li {
                display: inline-block;
                margin-right: 30px;
                a {
                    color: #606975;
                    font-size: 20px;
                    line-height: 40px;
                    &:hover {
                        text-decoration: underline;
                    }
                }
                img {
                    height: 30px;
                    width: 30px;
                }
            }
        }
    }
    &-text {
        span {
            color: #606975;
            font-size: 20px;
        }
    }
}

.garage-drop {
    &-block {
        background: #fff;
        h2 {
            font-size: 22px;
            margin-bottom: 30px;
        }
        &__list {
            padding: 15px;
            .garage-row {
                padding-bottom: 15px;
                &__text {
                    span {
                        color: #606975;
                        padding: 0;
                    }
                }
                &__buttons {
                    text-align: right;
                    button {
                        width: auto;
                        .fa {
                            float: unset;
                            font-size: 16px;
                        }
                    }
                }
            }
            button {
                width: 50px;
            }
            i {
                float: unset;
                font-size: 13px;
                width: auto;
            }
            span {
                padding: 0;
            }
        }
        &__select   {
            border-left: 1px solid #f1f1f1;
            padding: 15px;
            &-title {
                color: #000;
                display: block;
            }
            &-text {
                color: #989898;
                font-size: 11px;
            }
            &-image {
                width: 100%;
            }
        }
    }
}
