@media (max-width: 768px) {

    .anchor {
        position: fixed;
        right: 25px;
        bottom: 40px;
        display: block;
        width: 50px;
        height: 50px;
        background: transparent;
        text-align: center;
        font-size: 36px;
        a {
            color: #deedf3;
            text-decoration: none;
        }
    }

    .cat-products-count {
        margin: 15px 0;
    }

    .cat-products-set {
        justify-content: space-between;
        margin: 15px 0;
    }

    .cat-products-set-filter {
        display: block;
    }

    .cars-loader {
        min-height: 165px;
    }

    .gallery-item-image {
        img {
            width: 100%;
        }
    }

    .tree-heads {
        &__item {
            &-header {
                flex-wrap: wrap;
                &:hover {
                    filter: none;
                    img {
                        transform: none;
                    }
                }
            }
            &-text {
                width: auto;
            }
            &-image {
                width: auto;
                img {
                    transition: none;
                    height: 100px;
                    width: 300px;
                }
            }
            &-descr {
                font-size: 10px;
            }
        }
    }

    .tree-group {
        &__item {
            display: flex;
            justify-content: center;
            min-height: unset;
            width: calc(100%);
            &-image {
                width: 15%;
            }
            &-text {
                align-items: center;
                display: flex;
                font-weight: bold;
                margin-left: 15px;
                width: 85%;
                span {
                    text-align: left;
                }
            }
        }
    }

    .tables__row {
        .search__name {
            font-size: 12px;
        }
        .search__art {
            font-size: 12px;
        }
        .tables__price {
            font-size: 18px;
        }
    }
    
    .mob-non-display {
        display: none;
    }

    .fixed-nav {
        display: flex;
    }

    .sticky {
        position: relative;
    }

    .sticky-backdrop-active {
        left: -100%;
        opacity: 0;
    }

    .backdrop-show {
        left: -100%;
        opacity: 0;
    }

    .article-card:hover > .article-card-hidden {
        display: none;
    }

    .desktop-only {
        display: none;
    }

    .header-main,
    .header-nav,
    .ancor,
    .logotype-main {
        display: none;
    }

    .cart-table {
        margin: 0;
    }

    .orders-col-wide {
        padding: 0;
    }

    .header-order {
        display: block;
        margin: 15px 0;
        .header-phone-drop {
            display: block;
            text-align: center;
        }
        &-logo {
            a {
                display: block;
                margin: 0 auto 15px auto;
                width: 50%;
            }
        }
        &-text {
            text-align: center;
        }
        &-phone {
            display: none;
        }
    }

    .header-phone,
    .table-responsive,
    .nav-tabs {
        display: block;
    }

    .btn-basket {
        float: right;
    }

    .header-top {
        display: none;
        .contacts {
            display: none;
        }
        .authorization {
            ul, span {
                display: none;
            }
        }
    }

    .contacts ul li {
        padding-top: 30px;
    }

    .label {
        width: 100%;
    }

    .main {
        padding-top: 0;
    }

    .search {
        input {
            font-size: 14px;
        }
    }

    .tab-content {
        padding: 0!important;
    }

    .tables {
        padding: 0;
    }

    .fixed {
        background: #fff;
        height: auto;
        h1 {
            font-size: 20px;
            padding-top: .45em;
        }
    }

    .footer {
        &__socials {
            padding-left: 15px;
            ul {
                margin-bottom: 2%;
                padding-top: 2%;
            }
        }
        &__contacts {
            padding-top: 5%;
            &-head ul {
                padding-right: 1%;
            }
            &-column {
                border: none!important;
                padding-left: 15px!important;
            }
        }
    }

    .garage-drop-block__select {
        border: none;
    }

    .garage-drop-block__list .garage-row__buttons {
        text-align: left;
    }

    .seo-li {
        margin-right: 0;
        width: 100%;
        img {
            max-height: 70px;
            width: 100%;
        }
    }

    .seo-auto-list__item {
        margin: 10px;
        width: calc(50% - 20px);
    }

    .garage-user {
        height: auto;
        .btn-arrow {
            display: block;
        }
        #toggle_btn {
            display: none;
        }
        &-select {
            padding-right: 15px;
        }
        &__title {
            margin-right: 0;
            &:after {
                content: none;
            }
        }
        &__nav {
            flex-wrap: wrap;
            justify-content: center;
            .btn-img {
                margin-bottom: 15px;
            }
            button {
                margin-bottom: 10px;
                margin-left: 10px;
            }
        }
        &__image {
            display: none;
        }
    }

    .tree-block {
        &-title {
            height: 200px;
        }
    }

    .tree-item {
        margin: 0;
        padding-left: 15px;
        width: 100%;
        &-title {
            a {
                line-height: 3;
            }
        }
        &-list {
            margin-bottom: 20px;
            margin-left: 10px;
            &__element {
                a {
                    line-height: 2;
                }
            }
        }
    }

    .cat-products-filters {
        display: none;
    }
    .cat-products-title h1 {
        font-size: 18px;
    }
    .cat-products-cars {
        margin-bottom: 0;
        min-height: 165px;
    }
    .cat-products-count {
        a {
            margin-left: 0;
            margin-right: 15px;
        }
        span {
            margin-left: 0;
            margin-right: 15px;
        }
    }

    .request {
        min-height: unset;
        &-mob {
            display: block;
        }
        &-row {
            display: none;
            &-mob {
                display: block;
                margin: 0 0 15px 0;
                input[type=tel], input[type=text], textarea {
                    background: #f1f1f1;
                    padding: 10px;
                }
                input[type=submit] {
                    background: #0ca9ee;
                    padding: 5px;
                }
                .request {
                    border: 1px solid #ddd;
                    margin: 10px;
                }
                &-main {
                    margin: 0;
                    display: flex;
                }
            }
        }
    }

    #cars-tab1, #cars-tab2, #cars-tab3, #cars-tab4, #cars-tab5 {
        text-align: center;
    }

    .content {
        padding: 15px;
    }

    .btn-close-arrow {
        display: inline-block;
    }

    .sp-thumbnail {
        align-items: unset;
        display: unset;
    }

    .search-block-header {
        font-size: 14px;
        img {
            width: 16px;
            height: 16px;
        }
        &:after {
            top: -12px;
        }
    }
    .search-block-content {
        font-size: 12px;
    }

}

@media (max-width: 992px) {
    .fixed-nav {
        display: flex;
    }
}

@media (min-width: 992px) and (max-width: 1275px) {
    .seo-li {
        margin-right: 0;
        width: 100%;
        img {
            max-height: 70px;
            width: 100%;
        }
    }
    .desktop-only {
        display: none;
    }
    .home-banner {
        left: 0;
        margin: 0;
        width: 100%;
    }
    .header-main {
        .phones {
            padding: 0;
            ul {
                li {
                    img {
                        display: none;
                    }
                    input {
                        font-size: 11px;
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .seo-li {
        margin-right: 0;
        width: 100%;
        img {
            max-height: 70px;
            width: 100%;
        }
    }
    .fixed-nav {
        display: flex;
    }
    .header-main {
        .icons {
            flex: 0 0 25%;
            text-align: center;
            &-nav {
                &-item {
                    height: 30px;
                    width: 30px;
                    &-row {
                        display: none;
                    }
                }
            }
        }
        .phones {
            flex: 0 0 25%;
            max-width: 25%;
            text-align: center;
            ul {
                li {
                    img {
                        display: none;
                    }
                    input {
                        font-size: 11px;
                    }
                }
            }
        }
    }

    #menu {
        display: none;
    }

    .label {
        width: auto;
    }

    .header-top .authorization {
        padding: 0;
    }

    .footer {
        &__socials {
            padding-left: 15px;
            ul {
                margin-bottom: 2%;
                padding-top: 2%;
            }
        }
        &__contacts {
            padding-top: 5%;
            &-head ul {
                padding-right: 1%;
            }
            &-column {
                border: none!important;
                padding-left: 15px!important;
            }
        }
    }

    .table-responsive {
        display: block;
    }

    .garage-drop-block__select {
        border: none;
    }
    .garage-drop-block__list .garage-row__buttons {
        text-align: left;
    }

    .tree-block-title {
        height: 200px;
    }

    .tree-item {
        margin: 0;
        padding-left: 15px;
        width: 100%;
        &-title {
            a {
                line-height: 3;
            }
        }
        &-list {
            margin-bottom: 20px;
            margin-left: 10px;
            &__element {
                a {
                    line-height: 2;
                }
            }
        }
    }

}

@media (min-width: 576px) and (max-width: 768px) {
    .container {
        max-width: unset;
    }
}
