.cars {
  background: #fff;
  position: relative; }
  .cars-nav {
    background: #fff;
    color: #fff;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    border-bottom: 3px solid #2d8bfa; }
    .cars-nav__item {
      background: url("/images/icons/dropdown.svg") calc(100% - 20px) center no-repeat #fff;
      color: #000;
      cursor: pointer;
      overflow: hidden;
      padding: 20px 65px 20px 30px;
      position: relative;
      transition: .3s;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%; }
      .cars-nav__item:hover {
        filter: brightness(90%); }
      .cars-nav__item:not(:first-child):before {
        background: #ececec;
        bottom: 19px;
        content: '';
        left: 0;
        position: absolute;
        top: 19px;
        width: 1px; }
      .cars-nav__item-checked {
        background: url("/images/icons/dropdown-red.svg") calc(100% - 20px) center no-repeat #2d8bfa;
        color: #fff; }
        .cars-nav__item-checked:before {
          content: none !important; }
      .cars-nav__item-active {
        background: url("/images/icons/dropdown.svg") calc(100% - 20px) center no-repeat #2d8bfa;
        color: #fff; }
        .cars-nav__item-active:before {
          content: none !important; }
      .cars-nav__item-mob {
        display: none; }
      .cars-nav__item-hidden {
        display: none; }
      .cars-nav__item-disabled {
        color: #989898;
        cursor: default; }
        .cars-nav__item-disabled:hover {
          filter: unset; }
  .cars-tab__block {
    display: none;
    flex-wrap: wrap; }
    .cars-tab__block-active {
      display: flex; }
    .cars-tab__block-item {
      background: #fff;
      border: 1px solid #ebebeb;
      color: #000;
      cursor: pointer;
      padding: 15px;
      transition: .3s;
      width: calc(12.5%); }
      .cars-tab__block-item-years {
        display: flex;
        width: 100%; }
      .cars-tab__block-item:hover {
        filter: brightness(90%); }
      .cars-tab__block-item-min {
        width: calc(9.09%); }
        .cars-tab__block-item-min-disabled {
          color: #a7a7a7;
          cursor: default; }
          .cars-tab__block-item-min-disabled:hover {
            filter: unset; }
      .cars-tab__block-item-body {
        padding: 10px;
        width: calc(25%); }
        .cars-tab__block-item-body .bodyc-head {
          display: flex;
          width: 100%; }
        .cars-tab__block-item-body .bodyc-content {
          display: flex;
          margin-top: 15px;
          width: 100%; }
        .cars-tab__block-item-body .bodyc__title {
          color: #000;
          font-size: 14px;
          overflow: hidden;
          padding-right: 15px;
          position: relative;
          text-overflow: ellipsis;
          white-space: normal;
          width: 80%; }
        .cars-tab__block-item-body .bodyc__descr {
          color: #9da9b9;
          font-size: 11px;
          overflow: hidden;
          padding-right: 15px;
          position: relative;
          text-overflow: ellipsis;
          white-space: normal;
          width: 60%; }
        .cars-tab__block-item-body .bodyc__type {
          width: 20%; }
          .cars-tab__block-item-body .bodyc__type img {
            width: 100%; }
        .cars-tab__block-item-body .bodyc__image {
          width: 40%; }
          .cars-tab__block-item-body .bodyc__image img {
            width: 100%; }
      .cars-tab__block-item-modif {
        padding: 10px;
        width: calc(25%); }
        .cars-tab__block-item-modif a {
          color: #000; }
          .cars-tab__block-item-modif a:hover {
            text-decoration: none; }
        .cars-tab__block-item-modif table {
          font-size: 11px;
          width: 100%; }

.garage-user {
  background: #fff;
  box-shadow: 0 1px 4px #ccc;
  height: auto;
  border: 2px solid #2d8afa; }
  .garage-user .btn-arrow {
    display: none;
    float: right; }
  .garage-user .btn-close {
    float: right; }
  .garage-user-select {
    padding-right: 0; }
  .garage-user__title {
    background: #2d8afa;
    color: #fff;
    padding: 15px;
    height: 100%; }
    .garage-user__title span {
      display: inline-block;
      font-size: 11px;
      position: relative;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      width: calc(100% - 29px); }
      .garage-user__title span.title {
        font-size: 16px;
        font-weight: 700;
        line-height: 29px; }
  .garage-user__nav {
    display: flex;
    flex-wrap: nowrap;
    padding: 15px;
    align-items: center;
    justify-content: flex-end;
    height: 100%; }
    .garage-user__nav .btn-img {
      color: #2d8afa;
      border: 2px solid #fff;
      border-radius: 0;
      margin-right: 10px; }
      .garage-user__nav .btn-img:hover {
        background: #fff;
        border: 2px solid; }
      .garage-user__nav .btn-img-disabled {
        background: #f3f3f3;
        opacity: .6; }
  .garage-user__image {
    padding: 15px; }
    .garage-user__image img {
      float: right;
      max-height: 85px;
      max-width: 100%; }

@media (max-width: 1200px) {
  .cars-nav {
    display: none; }
    .cars-nav__item {
      padding: 15px 65px 15px 15px; }
      .cars-nav__item:not(:last-child) {
        border-bottom: 1px solid #ebebeb; }
      .cars-nav__item-mob {
        display: block; }
      .cars-nav__item-hidden {
        display: none; }
  .cars-tab__block {
    border-bottom: 3px solid #2d8bfa;
    border-top: none;
    max-height: 40vh;
    overflow-x: hidden;
    overflow-y: auto; }
    .cars-tab__block-item {
      width: 100%; }
      .cars-tab__block-item-years {
        display: block; }
      .cars-tab__block-item-min {
        width: 100%; } }
