/*==== NEWS STATE ====*/
.news-state h1 {
  font-size: 20px; }

.news-state h2 {
  color: #999;
  font-size: 13px; }

.news-state ul {
  list-style: none; }

.news-state table {
  border-collapse: collapse;
  width: 100% !important; }

.news-state img {
  border: 1px solid #8c8c8c;
  box-shadow: 6px 6px 10px 0 rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 auto;
  max-width: 500px;
  padding: 10px;
  width: 50%; }

/*==== /NEWS STATE ====*/
/*==== NEWS LIST ====*/
.news-block h2 {
  font-size: 20px;
  padding: 15px 0; }

.news-block h3 {
  font-size: 15px;
  font-weight: normal; }

.news-block__item {
  background: #fff;
  border-bottom: 1px solid #eee;
  box-shadow: 0 1px 10px #ccc;
  margin: 0 15px 15px 0;
  padding: 15px;
  width: 100%; }
  .news-block__item a {
    color: #000;
    font-size: 13px; }
  .news-block__item h4 {
    color: #999;
    font-size: 13px;
    font-weight: normal; }
  .news-block__item h5 {
    color: #4d82cb;
    font-weight: normal;
    margin-top: 3%;
    text-transform: uppercase; }
  .news-block__item img {
    border: 1px solid #8c8c8c;
    box-shadow: 6px 6px 10px 0 rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 100%; }
  .news-block__item p {
    font-size: 16px;
    margin: 0; }

/*==== /NEWS LIST ====*/
/*==== REVIEWS ====*/
.reviews-title {
  color: #000;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 30px; }

.reviews-block {
  display: flex;
  flex-wrap: wrap; }
  .reviews-block-item {
    box-shadow: 0 2px 8px grey;
    margin: 10px;
    padding: 15px;
    width: calc(33.33% - 20px); }
    .reviews-block-item__title {
      font-size: 20px;
      font-weight: bold; }
      .reviews-block-item__title h1 {
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 15px;
        text-align: center; }
    .reviews-block-item__image img {
      display: block;
      margin: 15px auto;
      max-width: 100%; }
    .reviews-block-item__text {
      font-size: 16px;
      font-weight: 400; }
      .reviews-block-item__text a, .reviews-block-item__text a:not([href]):not([tabindex]) {
        color: #55bae6; }
      .reviews-block-item__text ol, .reviews-block-item__text ul {
        margin-left: 30px; }
    .reviews-block-item__date {
      color: #999;
      font-size: 13px;
      font-weight: 400; }
    .reviews-block-item__link a {
      color: #000;
      font-size: 16px; }
      .reviews-block-item__link a:hover {
        text-decoration: underline; }

/*==== /REVIEWS ====*/
/*==== PHONE ====*/
@media (max-width: 992px) {
  .news-block,
  .news-block img,
  .news-block__item {
    max-width: 100%; }
  .news-block__item .overflow {
    width: 100%; } }

/*==== /PHONE ====*/
